<style>
    .dataTables_filter>label {
        display: inline-block;
    }

    .box {
        margin-bottom: 10px;
    }

    .box-header {
        padding: 5px;
        text-align: center;
    }

    .ul-sortable {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .todo-list>li {
        padding: 5px;
        background: #ffffff;
        margin: 2px;
    }

    .todo-list>li .text {
        cursor: move;
        cursor: -webkit-grabbing;
    }

    .ul-horizontal {
        padding: 0;
    }

    .ul-horizontal>li {
        display: inline-block;
    }

    .drop-area {
        overflow: auto;
        padding: 2px;
        min-height: 35px;
        border: 1px solid #e6e7e8;
    }

    .todo-list>li.li-filtered {
        background-color: #afe2ff;
    }
</style>

<div class="hidden">
    {{{hidden}}}
</div>

<div class="col-md-12">
    <div class="box">
        <div class="box-body">
            <div id="zheader" class="row">
                {{{zheader}}}
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Dimensões</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="drop-area">
                        <ul id="dim" class="todo-list ui-sortable ul-horizontal">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-2 no-padding">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Medidas</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul id="measure" class="todo-list ui-sortable">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Linhas</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="drop-area">
                            <ul id="dimrow" class="todo-list ui-sortable">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-10 no-padding-left">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Colunas</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="drop-area">
                        <ul id="dimcol" class="todo-list ui-sortable ul-horizontal">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-10 no-padding-left">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_table" data-toggle="tab"> Tabela</a>
            </li>
            <li>
                <a href="#tab_chart" data-toggle="tab"> Gráfico</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_table">
                <div class="row">
                    <div class="col-md-12">
                        <div id="divtable" style="overflow: auto;">

                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tab_chart">
                <div class="row">
                    {{{chart}}}
                </div>
                <hr style="margin: 5px 0;">
                <div id="charts">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalfilter">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" aria-hidden="true">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                <button id="applyfilter" type="button" class="btn btn-primary">Aplicar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var $idcube = $('select[name="idcube"]');
        var $charttype = $('select[name="charttype"]');
        var $filter = $('textarea[name="filter"]');
        var chart = {
            charts: []
            , rendered: false
        };
        var tablefilter;

        application.functions.getCss([
            '/public/assets/pivotjs/pivot.css'
            , '/public/assets/datatables/buttons.dataTables.min.css'
        ]);

        application.functions.getJs([
            '/public/assets/sortablejs/Sortable.min.js'
            , '/public/assets/highcharts/highcharts.js'
            , '/public/assets/datatables/dataTables.buttons.min.js'
        ]);

        function renderTable() {
            var request = {
                columns: []
                , rows: []
                , measures: []
                , idcube: $idcube.val()
                , filter: $filter.val() || '{}'
            };
            $('#dimrow > li').each(function () {
                request.rows.push($(this).attr('data-key'));
            });
            $('input[name="rows"]').val(request.rows.join(','));
            $('#dimcol > li').each(function () {
                request.columns.push($(this).attr('data-key'));
            });
            $('input[name="columns"]').val(request.columns.join(','));
            $('input.checkmeasure').each(function () {
                if ($(this).is(':checked')) {
                    request.measures.push($(this).attr('data-key'));
                }
            });
            $('input[name="measures"]').val(request.measures.join(','));

            var filter = JSON.parse($filter.val() || '{}');
            $('.li-filtered').removeClass('li-filtered');
            for (var k in filter) {
                $('li[data-key="' + k + '"]').addClass('li-filtered');
            }

            if (request.measures.length > 0) {
                application.jsfunction('platform.core_bi.analysis.js_executeAnalysis', request, function (response) {
                    if (response.success) {
                        $('#divtable').children().remove();
                        $('#divtable').append(response.data.html);
                        chart.charts = response.data.charts;
                        chart.rendered = false;
                        renderCharts();
                    }
                });
            }
        }

        function decodeChartType(type) {
            switch (type) {
                case 'Barra':
                    return 'bar';
                case 'Coluna':
                    return 'column';
                case 'Linha':
                    return 'line';
                case 'Pizza':
                    return 'pie';
                default:
                    return 'line';
            }
        }

        function renderCharts() {
            Highcharts.setOptions({
                lang: {
                    decimalPoint: ','
                    , thousandsSep: ','
                }
            });

            if ($('#tab_chart').hasClass('active')) {
                $('#charts').children().remove();
                for (var i = 0; i < chart.charts.length; i++) {
                    $('#charts').append('<div id="chart' + i + '"></div>')
                    Highcharts.chart('chart' + i, {
                        chart: {
                            type: decodeChartType($('select[name="charttype"]').val())
                        },
                        title: {
                            text: chart.charts[i].title || ''
                        },
                        yAxis: {
                            title: {
                                text: ''
                            }
                        },
                        xAxis: {
                            categories: chart.charts[i].categories
                        },
                        series: chart.charts[i].series
                    });
                }
                chart.rendered = true;
            }
        }

        function resetUI() {
            $('input[name="rows"]').val('');
            $('input[name="columns"]').val('');
            $('input[name="measures"]').val('');
            $('#dimrow').children().remove();
            $('#dimcol').children().remove();
            $('#dim').children().remove();
            $('#measure').children().remove();
            $filter.val('');
        }

        function renderUI(idcube) {
            application.jsfunction('platform.core_bi.analysis.js_getCube', { idcube: idcube }, function (response) {
                if (response.success) {
                    var measureTPL = '<li class="list-group-item">'
                        + '<input type="checkbox" class="checkmeasure" data-key="${key}" ${checked}>'
                        + '<span class="text">${name}</span>'
                        + '</li>';
                    var dimensionTPL = '<li class="list-group-item" data-key="${key}">'
                        + '<span class="text">${name}</span>'
                        + '<div class="tools dimfilter" style="display: inline-block; color: #888888;">'
                        + '<i class="fa fa-filter"></i>'
                        + '</div>'
                        + '</li>';
                    var rows = $('input[name="rows"]').val() ? $('input[name="rows"]').val().split(',') : [];
                    var columns = $('input[name="columns"]').val() ? $('input[name="columns"]').val().split(',') : [];
                    var measures = $('input[name="measures"]').val() ? $('input[name="measures"]').val().split(',') : [];
                    for (var i = 0; i < response.data.dimensions.length; i++) {
                        if (rows.indexOf(response.data.dimensions[i]) >= 0 || columns.indexOf(response.data.dimensions[i]) >= 0) {
                            response.data.dimensions.splice(i, 1);
                            i--;
                        }
                    }
                    for (var i = 0; i < response.data.measures.length; i++) {
                        if (measures.indexOf(response.data.measures[i]) >= 0) {
                            response.data.measures.splice(i, 1);
                            i--;
                        }
                    }
                    for (let i = 0; i < rows.length; i++) {
                        $('#dimrow').append(dimensionTPL.replace('${name}', rows[i]).replace('${key}', rows[i]));
                    }
                    for (let i = 0; i < columns.length; i++) {
                        $('#dimcol').append(dimensionTPL.replace('${name}', columns[i]).replace('${key}', columns[i]));
                    }
                    for (var i = 0; i < response.data.dimensions.length; i++) {
                        $('#dim').append(dimensionTPL.replace('${name}', response.data.dimensions[i]).replace('${key}', response.data.dimensions[i]));
                    }
                    for (let i = 0; i < measures.length; i++) {
                        $('#measure').append(measureTPL.replace('${name}', measures[i]).replace('${key}', measures[i]).replace('${checked}', 'checked'));
                    }
                    for (var i = 0; i < response.data.measures.length; i++) {
                        $('#measure').append(measureTPL.replace('${name}', response.data.measures[i]).replace('${key}', response.data.measures[i]).replace('${checked}', ''));
                    }
                    renderTable();
                }
            });
        }

        $(document).on('change', 'input.checkmeasure', function () {
            renderTable();
        });

        $idcube.on('select2:select', function (e) {
            resetUI();
            renderUI(e.params.data.id);
        });

        $charttype.on('select2:select', function (e) {
            renderCharts();
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            if ($(e.target).attr("href") == '#tab_chart' && !chart.rendered) {
                renderCharts();
            }
        });

        $(document).on('click', 'div.dimfilter', function (e) {
            var key = $(this).parent().attr('data-key');
            application.jsfunction('platform.core_bi.analysis.js_getFilter', { idcube: $idcube.val(), key: key }, function (response) {
                if (response.success) {
                    $('#modalfilter').find('.modal-body').html(response.data.html);
                    $('#modalfilter').find('.modal-title').html(key);
                    $('#modalfilter').attr('data-key', key);
                    tablefilter = $('#tablefilter').DataTable({
                        dom: 'Bfrtp'
                        , columnDefs: [{
                            orderable: false,
                            className: 'select-checkbox',
                            targets: 0
                        }]
                        , order: [[1, 'asc']]
                        , select: {
                            style: 'multi'
                        }
                        , pageLength: 50
                        , buttons: [
                            {
                                text: 'Todos',
                                action: function () {
                                    tablefilter.rows().select();
                                }
                            },
                            {
                                text: 'Nenhum',
                                action: function () {
                                    tablefilter.rows().deselect();
                                }
                            }
                        ]
                    });

                    var filter = JSON.parse($filter.val() || '{}');
                    tablefilter.rows().every(function () {
                        var d = this.data();
                        if (filter[key] && filter[key].indexOf(d[1]) >= 0) {
                            this.select();
                        }
                    });
                    $('#modalfilter').modal('show');
                }
            });
        });

        $('#applyfilter').click(function () {
            var filter = JSON.parse($filter.val() || '{}');
            var key = $('#modalfilter').attr('data-key');
            filter[key] = [];
            var rows = tablefilter.rows({ selected: true }).data();
            for (var i = 0; i < rows.length; i++) {
                filter[key].push(rows[i][1])
            }
            if (filter[key].length == 0) {
                delete filter[key];
            }
            $filter.val(JSON.stringify(filter));
            renderTable();
            $('#modalfilter').modal('hide');
        });

        $(document).on('app-loadjs', function () {
            //Sortable
            var dims = ['dim', 'dimcol', 'dimrow'];
            for (var i = 0; i < dims.length; i++) {
                new Sortable(document.getElementById(dims[i]), {
                    handle: '.text'
                    , animation: 150
                    , ghostClass: 'blue-background-class'
                    , group: 'dims'
                    , onEnd: function () {
                        renderTable();
                    }
                });
            }
            new Sortable(document.getElementById('measure'), {
                animation: 150
                , ghostClass: 'blue-background-class'
                , onEnd: function () {
                    renderTable();
                }
            });

            if (application.functions.getId() > 0) {
                renderUI($idcube.val());
            }
        });
    });

</script>