<style>
    .dataTables_filter>label {
        display: inline-block;
    }

    .box {
        margin-bottom: 10px;
    }

    .box-header {
        padding: 5px;
        text-align: center;
    }

    .ul-sortable {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .todo-list>li {
        padding: 2px;
        background: #ffffff;
        margin: 2px;
        border-left: 1px solid #e6e7e8;
    }

    .todo-list>li .text {
        cursor: move;
        cursor: -webkit-grabbing;
    }

    .ul-horizontal {
        padding: 0;
    }

    .ul-horizontal>li {
        display: inline-block;
    }

    .drop-area {
        overflow: auto;
        padding: 2px;
        min-height: 35px;
        border: 1px solid #e6e7e8;
    }

    .todo-list>li.li-filtered {
        border-color: #469fefb5;
        background-color: #9dd5f57d;
    }

    .checkmeasure {
        margin: 2px 6px !important;
    }
</style>

<div class="hidden">
    {{{hidden}}}
</div>

<div class="col-md-12">
    <div class="box">
        <div class="box-body">
            <div id="zheader" class="row">
                {{{zheader}}}
            </div>
        </div>
    </div>
</div>

<div class="col-md-2 no-padding">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span class="text-bold">Medidas</span>
                        <div id="measureconf"
                            style="color:#888888;position:absolute;width:20px;top:0px;right:15px;cursor:pointer;">
                            <i class="fa fa-cog"></i>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <ul id="measure" class="todo-list ui-sortable">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span class="text-bold">Colunas</span>
                    </div>
                    <div class="col-sm-12">
                        <div class="drop-area">
                            <ul id="dimcol" class="todo-list ui-sortable">
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <span class="text-bold">Linhas</span>
                    </div>
                    <div class="col-sm-12">
                        <div class="drop-area">
                            <ul id="dimrow" class="todo-list ui-sortable">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span class="text-bold">Filtros</span>
                    </div>
                    <div class="col-sm-12">
                        <div class="drop-area">
                            <ul id="dim" class="todo-list ui-sortable">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-10 no-padding">
    <div class="col-md-11 no-padding-left">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_table" data-toggle="tab"> Dados</a>
                </li>
                <li>
                    <a href="#tab_chart" data-toggle="tab"> Gráfico</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_table">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="divtable" style="overflow: auto;"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_chart">
                    <div class="row">
                        {{{chart}}}
                    </div>
                    <hr style="margin: 5px 0;">
                    <div id="charts"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 no-padding-left">
        <div class="btn-group-vertical" style="width: 100%;">
            <button type="button" class="btn btn-default" id="actprint"><i class="fa fa-print"></i></button>
        </div>
    </div>
</div>

<div class="modal fade" id="modalfilter">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" aria-hidden="true">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                <button id="applyfilter" type="button" class="btn btn-primary">Aplicar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalmeasure">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" aria-hidden="true">×</button>
                <h4 class="modal-title">Propriedade das Medidas</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom" style="margin-bottom: 0;">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1" data-toggle="tab">
                                        Geral
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_2" data-toggle="tab">
                                        Medidas Calculadas
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="row">
                                        <div class="col-md-6 no-padding">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Ordem</label>
                                                    <select name="ordermeasure" class="form-control select2"
                                                        style="width:100%;padding:0px 5px;">
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Tipo</label>
                                                    <select name="ordertype" class="form-control select2"
                                                        style="width:100%;padding:0px 5px;">
                                                        <option>Crescente</option>
                                                        <option>Decrescente</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_2">
                                    <div class="row">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-sm-3 no-padding">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Nome</label>
                                                        <input name="calculatemeasurename" type="text"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Medidas Disponíveis</label>
                                                        <ul id="calculatemeasuresavailable" class="list-unstyled">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <label>Fórmula</label>
                                                    <textarea name="calculatemeasureformula" rows="5"
                                                        class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button id="addcalculatemeasure" type="button"
                                                    class="btn btn-success btn-block">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Medidas Criadas</label>
                                                <ul id="calculatedmeasures" class="list-unstyled">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var $idcube = $('select[name="idcube"]');
        var $charttype = $('select[name="charttype"]');
        var $filter = $('textarea[name="filter"]');
        var $config = $('textarea[name="config"]');
        var $calculatedmeasures = $('textarea[name="calculatedmeasures"]');
        var $ordermeasure = $('select[name="ordermeasure"]');
        var $ordertype = $('select[name="ordertype"]');
        var chart = {
            charts: []
            , dom: []
            , rendered: false
        };
        var current = {
            measures: []
        }
        var tablefilter;
        var measureTPL = '<li class="list-group-item">'
            + '<input type="checkbox" class="checkmeasure" data-key="${key}" ${checked}>'
            + '<span class="text">${name}</span>'
            + '<div class="tools" style="display: inline-block; color: #888888;">'
            + '</div>'
            + '</li>';
        var dimensionTPL = '<li class="list-group-item" data-key="${key}">'
            + '<span class="text">${name}</span>'
            + '<div class="tools" style="display: inline-block; color: #888888;">'
            + '<i class="fa fa-filter dimfilter"></i>'
            + '</div>'
            + '</li>';

        application.functions.getCss([
            '/public/assets/pivotjs/pivot.css'
        ]);

        application.functions.getJs([
            '/public/assets/sortablejs/Sortable.min.js'
            , '/public/assets/highcharts/highcharts.js'
            , '/public/assets/highcharts/exporting.js'
        ]);

        function setConfig(key, value) {
            var config = JSON.parse($config.val() || '{}');
            config[key] = value;
            $config.val(JSON.stringify(config));
        }

        function getConfig(key) {
            var config = JSON.parse($config.val() || '{}');
            return config[key];
        }

        function renderTable() {
            var request = {
                idcube: $idcube.val()
                , columns: []
                , rows: []
                , measures: []
                , calculatedmeasures: $calculatedmeasures.val() || '{}'
                , filter: $filter.val() || '{}'
                , config: $config.val() || '{}'
            };
            $('#dimrow > li').each(function () {
                request.rows.push($(this).attr('data-key'));
            });
            $('input[name="rows"]').val(request.rows.join(','));
            $('#dimcol > li').each(function () {
                request.columns.push($(this).attr('data-key'));
            });
            $('input[name="columns"]').val(request.columns.join(','));
            $('input.checkmeasure').each(function () {
                if ($(this).is(':checked')) {
                    request.measures.push($(this).attr('data-key'));
                }
            });
            $('input[name="measures"]').val(request.measures.join(','));

            var filter = JSON.parse($filter.val() || '{}');
            $('.li-filtered').removeClass('li-filtered');
            for (var k in filter) {
                $('li[data-key="' + k + '"]').addClass('li-filtered');
            }

            if (request.measures.length > 0) {
                application.jsfunction('platform.core_bi.analysis.js_executeAnalysis', request, function (response) {
                    if (response.success) {
                        $('#divtable').children().remove();
                        $('#divtable').append(response.data.html);
                        chart.charts = response.data.charts;
                        chart.dom = [];
                        chart.rendered = false;
                        renderCharts(false);
                    }
                });
            }
        }

        function decodeChartType(type) {
            switch (type) {
                case 'Barra':
                    return 'bar';
                case 'Coluna':
                    return 'column';
                case 'Linha':
                    return 'line';
                case 'Pizza':
                    return 'pie';
                default:
                    return 'line';
            }
        }

        function renderCharts(force) {
            Highcharts.setOptions({
                lang: {
                    decimalPoint: ','
                    , thousandsSep: ','
                }
                , credits: {
                    enabled: false
                }
            });
            if ($('#tab_chart').hasClass('active') || force) {
                $('#charts').children().remove();
                for (var i = 0; i < chart.charts.length; i++) {
                    $('#charts').append('<div id="chart' + i + '"></div>')
                    chart.dom[i] = Highcharts.chart('chart' + i, {
                        chart: {
                            type: decodeChartType($('select[name="charttype"]').val())
                            , height: $(window).height() * 0.60
                        }
                        , title: {
                            text: chart.charts[i].title || ''
                        }
                        , yAxis: {
                            title: {
                                text: ''
                            }
                        }
                        , xAxis: {
                            categories: chart.charts[i].categories
                        }
                        , series: chart.charts[i].series
                        , exporting: {
                            enabled: false
                        }
                    });
                }
                chart.rendered = true;
            }
        }

        function resetUI() {
            $('input[name="rows"]').val('');
            $('input[name="columns"]').val('');
            $('input[name="measures"]').val('');
            $calculatedmeasures.val('');
            $filter.val('');
        }

        function updateOptionsFor(name, options) {
            var $el = $('select[name="' + name + '"]');
            var value = $('select[name="' + name + '"]').val();
            $el.find('option').remove();
            for (var i = 0; i < options.length; i++) {
                if (i == 0)
                    $('<option>').appendTo($el);
                $('<option>').text(options[i]).appendTo($el);
            }
            $el.val(value);
        }

        function renderUI(idcube) {
            application.jsfunction('platform.core_bi.analysis.js_getCube', { idcube: idcube }, function (response) {
                if (response.success) {
                    $('#dimrow').children().remove();
                    $('#dimcol').children().remove();
                    $('#dim').children().remove();
                    $('#measure').children().remove();
                    var rows = $('input[name="rows"]').val() ? $('input[name="rows"]').val().split(',') : [];
                    var columns = $('input[name="columns"]').val() ? $('input[name="columns"]').val().split(',') : [];
                    var measures = $('input[name="measures"]').val() ? $('input[name="measures"]').val().split(',') : [];
                    var allmeasures = response.data.measures;
                    var measurescalculated = JSON.parse($calculatedmeasures.val() || '{}');
                    for (var i = 0; i < response.data.dimensions.length; i++) {
                        if (rows.indexOf(response.data.dimensions[i]) >= 0 || columns.indexOf(response.data.dimensions[i]) >= 0) {
                            response.data.dimensions.splice(i, 1);
                            i--;
                        }
                    }
                    current.measures = response.data.measures;
                    for (var i = 0; i < rows.length; i++) {
                        $('#dimrow').append(dimensionTPL.replace('${name}', rows[i]).replace('${key}', rows[i]));
                    }
                    for (var i = 0; i < columns.length; i++) {
                        $('#dimcol').append(dimensionTPL.replace('${name}', columns[i]).replace('${key}', columns[i]));
                    }
                    for (var i = 0; i < response.data.dimensions.length; i++) {
                        $('#dim').append(dimensionTPL.replace('${name}', response.data.dimensions[i]).replace('${key}', response.data.dimensions[i]));
                    }
                    for (var i = 0; i < response.data.measures.length; i++) {
                        $('#measure').append(measureTPL.replace('${name}', response.data.measures[i]).replace('${key}', response.data.measures[i]).replace('${checked}', measures.indexOf(response.data.measures[i]) >= 0 ? 'checked' : ''));
                    }
                    for (var k in measurescalculated) {
                        allmeasures.push(k);
                        $('#measure').append(measureTPL.replace('${name}', k).replace('${key}', k).replace('${checked}', measures.indexOf(k) >= 0 ? 'checked' : ''));
                    }
                    renderTable();

                    updateOptionsFor('ordermeasure', allmeasures);
                }
            });
        }

        $(document).on('change', 'input.checkmeasure', function () {
            renderTable();
        });

        $idcube.on('select2:select', function (e) {
            resetUI();
            renderUI(e.params.data.id);
        });

        $charttype.on('select2:select', renderCharts);

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            if ($(e.target).attr("href") == '#tab_chart' && !chart.rendered) {
                renderCharts(false);
            }
        });

        $(document).on('click', '.dimfilter', function (e) {
            var key = $(this).closest('li.list-group-item').attr('data-key');
            application.jsfunction('platform.core_bi.analysis.js_getFilter', { idcube: $idcube.val(), key: key }, function (response) {
                if (response.success) {
                    $('#modalfilter').find('.modal-body').html(response.data.html);
                    $('#modalfilter').find('.modal-title').html(key);
                    $('#modalfilter').attr('data-key', key);
                    tablefilter = $('#tablefilter').DataTable({
                        dom: 'Bfrtp'
                        , columnDefs: [{
                            orderable: false,
                            className: 'select-checkbox',
                            targets: 0
                        }]
                        , order: [[1, 'asc']]
                        , select: {
                            style: 'multi'
                        }
                        , pageLength: 50
                        , buttons: [
                            {
                                text: 'Todos',
                                action: function () {
                                    tablefilter.rows().select();
                                }
                            },
                            {
                                text: 'Nenhum',
                                action: function () {
                                    tablefilter.rows().deselect();
                                }
                            }
                        ]
                    });

                    var filter = JSON.parse($filter.val() || '{}');
                    tablefilter.rows().every(function () {
                        var d = this.data();
                        if (filter[key] && filter[key].indexOf(d[1]) >= 0) {
                            this.select();
                        }
                    });
                    $('#modalfilter').modal('show');
                }
            });
        });

        $('#applyfilter').click(function () {
            var filter = JSON.parse($filter.val() || '{}');
            var key = $('#modalfilter').attr('data-key');
            filter[key] = [];
            var rows = tablefilter.rows({ selected: true }).data();
            for (var i = 0; i < rows.length; i++) {
                filter[key].push(rows[i][1])
            }
            if (filter[key].length == 0) {
                delete filter[key];
            }
            $filter.val(JSON.stringify(filter));
            renderTable();
            $('#modalfilter').modal('hide');
        });

        var $calculatemeasureformula = $('textarea[name="calculatemeasureformula"]');
        var $calculatemeasurename = $('input[name="calculatemeasurename"]');
        $(document).on('click', '.calculatemeasureadd', function () {
            $calculatemeasureformula.val($calculatemeasureformula.val() + '"' + $(this).text() + '"');
            $calculatemeasureformula.focus();
        });

        $(document).on('click', '.calculatedmeasure', function () {
            var key = $(this).text();
            var calculatedmeasures = JSON.parse($calculatedmeasures.val() || '{}');
            if (key in calculatedmeasures) {
                $calculatemeasurename.val(key);
                $calculatemeasureformula.val(calculatedmeasures[key]);
            }
        });

        $(document).on('click', '.calculatedmeasureremove', function () {
            var key = $(this).siblings('a.calculatedmeasure').text();
            var calculatedmeasures = JSON.parse($calculatedmeasures.val() || '{}');
            if (key in calculatedmeasures) {
                delete calculatedmeasures[key];
            }
            $calculatedmeasures.val(JSON.stringify(calculatedmeasures));
            renderCalculateMeasureUI();
        });

        function renderCalculateMeasureUI() {
            $('#calculatemeasuresavailable').children().remove();
            for (var i = 0; i < current.measures.length; i++) {
                $('#calculatemeasuresavailable').append('<li><a class="calculatemeasureadd" href="javascript:void(0)">' + current.measures[i] + '</a></li>');
            }
            $('#calculatedmeasures').children().remove();
            var calculatedmeasures = JSON.parse($calculatedmeasures.val() || '{}');
            for (var k in calculatedmeasures) {
                $('#calculatedmeasures').append('<li><i class="fa fa-trash calculatedmeasureremove" style="color:#ff4f4f;padding:5px;"></i><a class="calculatedmeasure" href="javascript:void(0)">' + k + '</a></li>');
                $calculatemeasurename.val();
            }
        }

        $('#addcalculatemeasure').click(function () {
            var calculatedmeasures = JSON.parse($calculatedmeasures.val() || '{}');
            calculatedmeasures[$calculatemeasurename.val()] = $calculatemeasureformula.val();
            $calculatedmeasures.val(JSON.stringify(calculatedmeasures));
            $calculatemeasurename.val('');
            $calculatemeasureformula.val('');
            renderCalculateMeasureUI();
        });

        $('#measureconf').click(function () {
            renderCalculateMeasureUI();
            $ordermeasure.val(getConfig('ordermeasure'));
            $ordertype.val(getConfig('ordertype'));
            $('#modalmeasure').modal('show');
        });

        $('#modalmeasure').on('hidden.bs.modal', function () {
            setConfig('ordermeasure', $ordermeasure.val());
            setConfig('ordertype', $ordertype.val());
            renderUI($idcube.val());
        });

        $('#actprint').click(function () {
            var svgs = [];
            if (!chart.rendered) {
                renderCharts(true);
            }
            for (var i = 0; i < chart.charts.length; i++) {
                svgs.push(chart.dom[i].getSVG({ chart: { width: 1300, height: 930 } }));
            }
            application.jsfunction('platform.core_bi.analysis.js_print', { table: $('#divtable').html(), charts: svgs }, function (response) {
                if (response.success) {
                    application.handlers.responseSuccess(response);
                }
            });
        });

        $(document).on('app-loadjs', function () {
            //Sortable
            var dims = ['dim', 'dimcol', 'dimrow'];
            for (var i = 0; i < dims.length; i++) {
                new Sortable(document.getElementById(dims[i]), {
                    handle: '.text'
                    , animation: 150
                    , ghostClass: 'blue-background-class'
                    , group: 'dims'
                    , onEnd: function () {
                        renderTable();
                    }
                });
            }
            new Sortable(document.getElementById('measure'), {
                handle: '.text'
                , animation: 150
                , ghostClass: 'blue-background-class'
                , onEnd: function () {
                    renderTable();
                }
            });

            if (application.functions.getId() > 0) {
                renderUI($idcube.val());
            }
        });
    });

</script>