<div class="hidden">
    {{{hidden}}}
</div>

<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_dashboard" data-toggle="tab"> Dashboard</a>
            </li>
            <li>
                <a href="#tab_analysis" data-toggle="tab"> Análises</a>
            </li>
            <li>
                <a href="#tab_share" data-toggle="tab"> Compartilhar</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_dashboard">
                <div class="row">
                    {{{dashboard}}}
                </div>
            </div>
            <div class="tab-pane" id="tab_analysis">
                <div class="row">
                    {{{analysis}}}
                </div>
            </div>
            <div class="tab-pane" id="tab_share">
                <div class="row">
                    {{{share}}}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divrender">

</div>

<div id="renderTPL" class="hidden">
    <div class="col-md-${width}">
        <div class="box">
            <div class="box-header with-border text-center">
                <h3 class="box-title" style="overflow:hidden;width:80%;text-overflow:ellipsis;white-space: nowrap;">
                    ${description}</h3>
                <div class="box-tools pull-right">
                    <a href="/v/analise/${idanalysis}">
                        <button type="button" class="btn btn-box-tool" title="Ir para análise"><i
                                class="fa fa-external-link-alt"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div style="overflow:auto;height:400px;">
                            ${data}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        application.functions.getCss([
            '/public/assets/pivotjs/pivot.css'
        ]);
        application.functions.getJs([
            '/public/assets/highcharts/highcharts.js'
            , '/public/assets/highcharts/exporting.js'
            , '/public/assets/highcharts/highcharts-more.js'
            , '/public/assets/highcharts/solid-gauge.js'
        ]);
        var renderTPL = $('#renderTPL').html();

        $(document).on('app-loadjs', function () {
            if (application.functions.getId() > 0) {
                application.jsfunction('platform.core_bi.dashboard.js_renderAnalysis', { iddashboard: application.functions.getId() }, function (response) {
                    if (response.success) {
                        for (var i = 0; i < response.rendered.length; i++) {
                            const el = response.rendered[i];
                            $('#divrender').append(renderTPL
                                .replace('${data}', el.dashboardanalysis.viewtype == 'Dados' ? el.data.html : '<div id="chart' + el.dashboardanalysis.id + '"></div>')
                                .replace('${description}', el.analysis.description)
                                .replace('${idanalysis}', el.analysis.id)
                                .replace('${width}', el.dashboardanalysis.width)
                            );
                            if (el.dashboardanalysis.viewtype == 'Gráfico') {
                                Highcharts.chart('chart' + el.dashboardanalysis.id, el.data.chart);
                            }
                        }
                    }
                });
            }
        });
    });
</script>