<div class="hidden">
    {{{hidden}}}
</div>

<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_dashboard" data-toggle="tab"> Dashboard</a>
            </li>
            <li>
                <a href="#tab_analysis" data-toggle="tab"> Análises</a>
            </li>
            <li>
                <a href="#tab_share" data-toggle="tab"> Compartilhar</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_dashboard">
                <div class="row">
                    {{{dashboard}}}
                </div>
            </div>
            <div class="tab-pane" id="tab_analysis">
                <div class="row">
                    {{{analysis}}}
                </div>
            </div>
            <div class="tab-pane" id="tab_share">
                <div class="row">
                    {{{share}}}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divrender">

</div>

<div id="renderTPL" class="hidden">
    <div class="col-md-${width}">
        <div class="box">
            <div class="box-header with-border text-center">
                <h3 class="box-title">${description}</h3>
                <div class="box-tools pull-right">
                    <a href="/v/analise/${idanalysis}">
                        <button type="button" class="btn btn-box-tool" title="Ir para análise"><i
                                class="fa fa-external-link-alt"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div style="overflow:auto;height:400px;">
                            ${data}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        application.functions.getCss([
            '/public/assets/pivotjs/pivot.css'
        ]);
        application.functions.getJs([
            '/public/assets/highcharts/highcharts.js'
            , '/public/assets/highcharts/exporting.js'
            , '/public/assets/highcharts/highcharts-more.js'
            , '/public/assets/highcharts/solid-gauge.js'
        ]);
        var renderTPL = $('#renderTPL').html();

        function decodeChartType(type) {
            switch (type) {
                case 'Barra':
                    return 'bar';
                case 'Barra Empilhada':
                    return 'bar';
                case 'Coluna':
                    return 'column';
                case 'Coluna Empilhada':
                    return 'column';
                case 'Linha':
                    return 'line';
                case 'Pizza':
                    return 'pie';
                case 'Dispersão':
                    return 'scatter';
                case 'Velocímetro':
                    return 'solidgauge';
                default:
                    return 'line';
            }
        }

        function renderChart(id, data, type) {
            Highcharts.setOptions({
                lang: {
                    decimalPoint: ','
                    , thousandsSep: ','
                }
                , credits: {
                    enabled: false
                }
            });
            var options = {
                chart: {
                    type: decodeChartType(type)
                }
                , title: {
                    text: data.title || ''
                }
                , yAxis: {
                    title: {
                        text: ''
                    }
                }
                , xAxis: {
                    categories: data.categories
                }
                , series: data.series
                , exporting: {
                    enabled: false
                }
            }
            if (type && type.includes('Empilhada') > 0) {
                options.plotOptions = {
                    series: {
                        stacking: 'normal'
                    }
                };
            }
            if (type == 'Velocímetro') {
                // options.chart.width = 300;
                // options.chart.height = 200;
                for (var z = 0; z < options.series.length; z++) {
                    options.series[z].dataLabels = {
                        format:
                            '<div style="text-align:center">' +
                            '<span style="font-size:25px">{y}</span><br/>' +
                            '</div>'
                    };
                }
                options.pane = {
                    center: ['50%', '70%'],
                    size: '100%',
                    startAngle: -90,
                    endAngle: 90,
                    background: {
                        backgroundColor:
                            Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
                        innerRadius: '60%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                };
                options.yAxis = {
                    min: 0,
                    max: 100,
                    stops: [
                        [0.1, '#55BF3B'], // green
                        [0.5, '#DDDF0D'], // yellow
                        [0.9, '#DF5353'] // red
                    ],
                    lineWidth: 0,
                    tickWidth: 0,
                    minorTickInterval: null,
                    tickAmount: 2,
                    title: {
                        y: -110,
                        text: options.series[0].name
                    },
                    labels: {
                        y: 16
                    }
                };
                options.plotOptions = {
                    solidgauge: {
                        dataLabels: {
                            y: -45,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                };
                options.tooltip = {
                    enabled: false
                };
            }
            Highcharts.chart('chart' + id, options);
        }

        $(document).on('app-loadjs', function () {
            if (application.functions.getId() > 0) {
                application.jsfunction('platform.core_bi.dashboard.js_renderAnalysis', { iddashboard: application.functions.getId() }, function (response) {
                    if (response.success) {
                        for (var i = 0; i < response.rendered.length; i++) {
                            const el = response.rendered[i];
                            $('#divrender').append(renderTPL
                                .replace('${data}', el.dashboardanalysis.viewtype == 'Dados' ? el.data.html : '<div id="chart' + el.dashboardanalysis.id + '"></div>')
                                .replace('${description}', el.analysis.description)
                                .replace('${idanalysis}', el.analysis.id)
                                .replace('${width}', el.dashboardanalysis.width)
                            );
                            if (el.dashboardanalysis.viewtype == 'Gráfico') {
                                renderChart(el.dashboardanalysis.id, el.data.charts[0], el.analysis.charttype);
                            }
                        }
                    }
                });
            }
        });
    });
</script>