<style>
    .min-width-150 {
        min-width: 150px;
    }
</style>

<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-md-10 no-padding">
                    {{{cabecalho}}}
                </div>
                <div class="col-md-2 no-padding-left">
                    <div class="btn-group" style="width: 100%;">
                        <button type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" style="height: 148px;">
                            <i class="fa fa-5x fa-bars"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a id="sobra" href="javascript:void(0)">
                                    <i class="fa fa-recycle"></i> Registrar Sobras                                
                                </a>
                            </li>
                            <li>
                                <a id="mistura" href="javascript:void(0)">
                                    <i class="fa fa-flask"></i> Registrar Mistura                                
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a id="encerrar" href="javascript:void(0)">
                                    <i class="fa fa-check"></i> Encerrar                                
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="col-insumo" class="col-md-3 no-padding-right">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                {{{insumo}}}
            </div>
        </div>
    </div>
</div>
<div id="col-producao" class="col-md-4 no-padding-right">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                {{{producao}}}
            </div>
        </div>
    </div>
</div>
<div id="col-perda" class="col-md-2 no-padding-right">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                {{{perda}}}
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-6 border-right">
                    <div class="description-block">
                        <h5 id="totalqtdperda" class="description-header">0</h5>
                        <span>Quantidade</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="description-block">
                        <h5 id="totalpesoperda" class="description-header">0,0000</h5>
                        <span>Peso Total</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="col-parada" class="col-md-3">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                {{{parada}}}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalsobra">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    {{{sobra}}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalmistura">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    {{{mistura}}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalretorno">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    {{{retorno}}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>