<style>
    .min-width-150 {
        min-width: 150px;
    }
</style>

<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-md-10 no-padding">
                    {{{cabecalho}}}
                </div>
                <div class="col-md-2 no-padding-left">
                    <div class="btn-group" style="width: 100%;">
                        <button type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" style="height: 115px;">
                            <i class="fa fa-5x fa-bars"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a id="resumo" href="javascript:void(0)">
                                    <i class="fa fa-print"></i> Resumo da Produção
                                </a>
                            </li>
                            <li>
                                <a id="conjugada" href="javascript:void(0)">
                                    <i class="fa fa-random"></i> Verificar Conjugação
                                </a>
                            </li>
                            <li>
                                <a id="listarInsumos" href="javascript:void(0)">
                                    <i class="fa fa-binoculars"></i> Verificar Insumos
                                </a>
                            </li>
                            <li>
                                <a id="verificarRncs" href="javascript:void(0)">
                                    <i class="fa fa-eye"></i> Verificar RNCs
                                </a>
                            </li>
                            <li>
                                <a id="marcarVolumes" href="javascript:void(0)">
                                    <i class="fa fa-exclamation"></i> Marcar Volumes
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a id="conferencias" href="javascript:void(0)">
                                    <i class="fa fa-check-square"></i> Conferências
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a id="sobra" href="javascript:void(0)">
                                    <i class="fa fa-recycle"></i> Registrar Sobras
                                </a>
                            </li>
                            <li>
                                <a id="mistura" href="javascript:void(0)">
                                    <i class="fa fa-flask"></i> Registrar Mistura
                                </a>
                            </li>
                            <!-- <li>
                                <a id="ratearInsumos" href="javascript:void(0)">
                                    <i class="fa fa-share-alt"></i> Ratear Insumos
                                </a>
                            </li> -->
                            <li class="divider"></li>
                            <li>
                                <a id="encerrar" href="javascript:void(0)">
                                    <i class="fa fa-check"></i> Encerrar
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <div class="description-block">
                            <span style="display: block;"><b>Velocidade Efetiva</b></span>
                            <span id="efetiva" class="description-header badge bg-blue" style="font-size: 25px; padding: 7px 10px;">0,00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="col-setup-impressao" class="col-md-12 hidden">
    <div class="box collapsed-box">
        <div class="box-header">
            <i class="fa fa-th"></i>
            <h3 class="box-title">Impressão</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-sm btn-default btn-imp-show" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" style="display: none;">
            <div class="row">
                {{{z_impressao}}}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="tableviewapontamento_cliche_-_montagem_impressao" class="table table-bordered table-hover dataTable" width="100%"
                        data-view="apontamento_cliche_-_montagem_impressao" data-readonly="true"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="col-insumo" class="col-md-3 no-padding-right">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                {{{insumo}}}
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-6 border-right">
                    <div class="description-block">
                        <h5 id="totalvolumesinsumo" class="description-header">0</h5>
                        <span>Volumes</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="description-block">
                        <h5 id="totalqtdinsumo" class="description-header">0,0000</h5>
                        <span>Quantidade</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="col-producao" class="col-md-4 no-padding-right">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                {{{producao}}}
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 id="totalvolumesproducao" class="description-header">0</h5>
                        <span>Volumes</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 id="totalqtdproducao" class="description-header">0,0000</h5>
                        <span>Quantidade</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 id="totalpesoproducao" class="description-header">0,0000</h5>
                        <span>Peso</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="col-perda" class="col-md-2 no-padding-right">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                {{{perda}}}
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-6 border-right">
                    <div class="description-block">
                        <h5 id="totalqtdperda" class="description-header">0</h5>
                        <span>Quantidade</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="description-block">
                        <h5 id="totalpesoperda" class="description-header">0,0000</h5>
                        <span>Peso</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="col-parada" class="col-md-3">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                {{{parada}}}
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-6 border-right">
                    <div class="description-block">
                        <h5 id="totalqtdparada" class="description-header">0</h5>
                        <span>Quantidade</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="description-block">
                        <h5 id="totalduracaoparada" class="description-header">0:00</h5>
                        <span>Duração</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalsobra">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    {{{sobra}}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalmistura">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    {{{mistura}}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalretorno">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    {{{retorno}}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalconjugada">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    {{{conjugada}}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalmarcacaovolume">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    {{{marcacaovolume}}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalconferencia">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Usuário</label>
                            <input name="confuser" type="text" class="form-control" data-type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Senha</label>
                            <input name="confpass" type="password" class="form-control" data-type="text" autocomplete="new-password">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Atributo</label>
                            <select name="confatributo" class="form-control select2" style="width:100%;" data-type="autocomplete" data-model="pcp_atributoconferencia"
                                data-attribute="descricao" data-where="">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Resultado</label>
                            <input name="confresultexto" type="text" class="confresult form-control hidden" data-type="text">
                            <input name="confresulvalor" type="text" class="confresult form-control hidden" data-type="integer">
                            <select name="confresulcombo" class="confresult form-control select2 hidden" style="width:100%;">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Observação</label>
                            <input name="confobs" type="text" class="form-control" data-type="text">
                        </div>
                    </div>
                    <div class="col-md-12" style="margin: 10px 0;">
                        <button id="adicionarAtributo" type="button" class="btn btn-success btn-block">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    {{{conferencia}}}
                    <!-- <div class="col-md-12">
                        <table id="tableviewapontamento_de_producao_-_conferencia" class="table table-bordered table-hover dataTable" width="100%"
                            data-view="apontamento_de_producao_-_conferencia" data-readonly="true"></table>
                    </div> -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>