<div class="hidden">
    {{{hidden}}}
</div>

<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-body">
            <div id="z1" class="row">
                {{{z1}}}
            </div>
        </div>
    </div>
</div>
<div id="divmistura" class="col-md-6 hidden">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Código de Barra</label>
                        <input name="codigodebarra" type="text" class="form-control" disabled="disabled">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Produto</label>
                        <input name="produto" type="text" class="form-control" value="" data-type="text" disabled="disabled">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ID Volume</label>
                        <input name="idvolume" type="text" class="form-control" value="" data-type="text" disabled="disabled">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Qtd Disponível</label>
                        <input name="qtdreal" type="text" class="form-control" value="" data-type="decimal" data-precision="4" disabled="disabled">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Qtd para Consumir</label>
                        <input name="qtd" type="text" class="form-control" value="" data-type="decimal" data-precision="4">
                    </div>
                </div>

                <div class="col-md-12">
                    <button id="addmistura" type="button" class="btn btn-success btn-block"><i class="fa fa-plus"></i></button>
                </div>

            </div>
            <hr>
            <div id="z2" class="row">
                {{{z2}}}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        if (application.functions.getId() > 0) {
            $('#divmistura').removeClass('hidden');
        }

        $('input[name="codigodebarra"]').prop('disabled', false);

        $('input[name="codigodebarra"]').keydown(function (e) {
            if (e.keyCode == 13) {
                application.jsfunction('plastrela.pcp.apinsumo.__pegarVolume', { codigodebarra: $(this).val() }, function (response) {
                    application.handlers.responseSuccess(response);
                    if (response.success) {
                        $('input[name="idvolume"]').val(response.data.id);
                        $('input[name="qtdreal"]').val(response.data.qtdreal);
                        $('input[name="produto"]').val(response.data.produto);
                        $('input[name="qtd"]').focus().val(response.data.qtdreal);
                    } else {
                        $('input[name="idvolume"]').val('');
                        $('input[name="qtdreal"]').val('');
                        $('input[name="produto"]').val('');
                        $('input[name="qtd"]').val('');
                        $('input[name="codigodebarra"]').focus().val('');
                    }
                });
                return false;
            }
        });

        $('button#addmistura').click(function () {
            application.jsfunction('plastrela.pcp.apmistura.js_apontarMistura', {
                idapmistura: application.functions.getId()
                , produto: $('input[name="produto"]').val()
                , idvolume: $('input[name="idvolume"]').val()
                , qtd: $('input[name="qtd"]').val()
            }, function (response) {
                application.handlers.responseSuccess(response);
                if (response.success) {
                    $('input[name="idvolume"]').val('');
                    $('input[name="qtdreal"]').val('');
                    $('input[name="produto"]').val('');
                    $('input[name="qtd"]').val('');
                    $('input[name="codigodebarra"]').focus().val('');
                }
            });
        });

        $('input[name="qtd"]').keydown(function (e) {
            if (e.keyCode == 13) {
                $('button#addmistura').trigger('click');
                return false;
            }
        });

        $(document).on('app-datatable', function (e, table) {
            switch (table) {
                case 'tableviewapontamento_de_producao_-_mistura_-_volume':// Mistura
                    $('button#' + table + '_insert').remove();
                    $('button#' + table + '_edit').remove();
                    break;
            }
        });

    });

</script>