<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab"> Ordem de Produção</a></li>
            <!-- <li><a href="#tab_2" data-toggle="tab"><i class="fa fa-user"></i> Técnicos</a></li> -->
        </ul>
        <div class="tab-content">

            <div class="tab-pane active" id="tab_1">
                <div class="row">

                    <div class="col-md-12">

                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1_1" data-toggle="tab"> Estados</a></li>
                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane active" id="tab_1_1">
                                    <div class="row">

                                        <div class="col-md-6 no-padding">
                                            <%- estado_geral %>
                                        </div>
                                        <div class="col-md-6 no-padding">
                                            <%- estado_tabela %>
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="tab-pane" id="tab_2">
                <div class="row">

                </div>
            </div>

        </div>
    </div>
</div>