<div class="hidden">
    {{{hidden}}}
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-md-12">
                        <p style="text-align: justify;">
                            A Plastrela deseja contar com profissionais comprometidos, qualificados e que almejam um crescimento profissional dentro
                            da empresa. Se você tem este perfil, envie seu currículo para nosso departamento de Recursos
                            Humanos. Seus perfil será analisado e a Plastrela poderá entrar em contato para conversar com
                            você.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h3 class="box-title" style="display: block;">Informações da Vaga</h3>
                </div>
                <div class="box-body">
                    <div id="z1" class="row">
                        {{{z1}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h3 class="box-title" style="display: block;">Informações Pessoais</h3>
                </div>
                <div class="box-body">
                    <div id="z2" class="row">
                        {{{z2}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h3 class="box-title" style="display: block;">Experiência Profissional</h3>
                </div>
                <div class="box-body">
                    <div id="z3" class="row">
                        {{{z3}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function ($) {
        $('#view-submit').parent().addClass('text-center');
        $('section.content-header').addClass('text-center').html('<h4>Cadastro de Currículo</h4>');
    });
</script>