<style>
    .wizard-steps {
        overflow: hidden;
        position: relative;
        margin-top: 20px;
        text-align: center;
    }

    .wizard-progress {
        position: absolute;
        top: 24px;
        left: 0;
        width: 100%;
        height: 3px;
        background: #ddd;
    }

    .wizard-progress-line {
        position: absolute;
        top: 0;
        left: 0;
        height: 3px;
        background: #3c8dbc;
    }

    .wizard-step {
        position: relative;
        float: left;
        width: 25%;
        padding: 0 5px;
    }

    .wizard-step-icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-top: 4px;
        background: #ddd;
        font-size: 16px;
        color: #fff;
        line-height: 40px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .wizard-step.activated .wizard-step-icon {
        background: #fff;
        border: 1px solid #3c8dbc;
        color: #3f8ff3;
        line-height: 38px;
    }

    .wizard-step.active .wizard-step-icon {
        width: 48px;
        height: 48px;
        margin-top: 0;
        background: #3c8dbc;
        font-size: 22px;
        line-height: 48px;
    }

    .wizard-step p {
        color: #ccc;
    }

    .wizard-step.activated p {
        color: #000000;
    }

    .wizard-step.active p {
        color: #000000;
        font-weight: bold;
    }

    .wizard fieldset {
        display: none;
        text-align: left;
    }

    .wizard fieldset.wizard-showing {
        display: block;
    }

    .wizard-buttons {
        text-align: right;
    }
</style>
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-body">
            <div class="wizard">
                <div class="wizard-steps">
                    <div class="wizard-progress">
                        <div class="wizard-progress-line" data-width="12.5" style="width: 12.5%;"></div>
                    </div>
                    <div class="wizard-step active">
                        <div class="wizard-step-icon"><i class="fa fa-user"></i></div>
                        <p>Cliente</p>
                    </div>
                    <div class="wizard-step">
                        <div class="wizard-step-icon"><i class="fa fa-shopping-basket"></i></div>
                        <p>Produto</p>
                    </div>
                    <div class="wizard-step">
                        <div class="wizard-step-icon"><i class="fa fa-truck"></i></div>
                        <p>Entrega</p>
                    </div>
                    <div class="wizard-step">
                        <div class="wizard-step-icon"><i class="fa fa-money"></i></div>
                        <p>Pagamento</p>
                    </div>

                </div>

                <fieldset class="wizard-showing">
                    <div class="form-group text-center">
                        <div class="row">
                            <div class="col-xs-6">
                                <label><h3>Novo</h3><input type="radio" name="tipocliente" value="1"></label>
                            </div>
                            <div class="col-xs-6">
                                <label><h3>Existente</h3><input type="radio" name="tipocliente" value="2"></label>
                            </div>
                        </div>
                    </div>

                    <div class="clientenovo hidden">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Razão Social</label>
                                    <input name="cliente_nome" type="text" class="form-control" data-type="text">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Endereço</label>
                                    <input name="cliente_endereco" type="text" class="form-control" data-type="text">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Bairro</label>
                                    <input name="cliente_bairro" type="text" class="form-control" data-type="text">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>UF</label>
                                    <input name="cliente_uf" type="text" class="form-control" data-type="text">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Cidade</label>
                                    <input name="cliente_cidade" type="text" class="form-control" data-type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CEP</label>
                                    <input name="cliente_cep" type="text" class="form-control" data-type="text">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CNPJ</label>
                                    <input name="cliente_cnpj" type="text" class="form-control" data-type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Inscr. Estadual</label>
                                    <input name="cliente_inscr_estadual" type="text" class="form-control" data-type="text">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Comprador Nome</label>
                                    <input name="cliente_comprador_nome" type="text" class="form-control" data-type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Fone</label>
                                    <input name="cliente_fone" type="text" class="form-control" data-type="text">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-mail Comprador</label>
                                    <input name="cliente_email_comprador" type="text" class="form-control" data-type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-mail Qualidade</label>
                                    <input name="cliente_email_qualidade" type="text" class="form-control" data-type="text">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>E-mail para XML</label>
                                    <input name="cliente_email_xml" type="text" class="form-control" data-type="text">
                                </div>
                            </div>
                        </div>

                        <div class="wizard-buttons">
                            <button type="button" class="btn btn-primary wizard-next">Próximo <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>

                    <div class="clienteexistente hidden">
                        <div class="form-group">
                            <label>Cliente</label>
                            <select name="idcliente" class="form-control select2" style="width: 100%;" data-type="autocomplete" data-model="cad_corr"
                                data-attribute="nomecompleto" data-where="">
                                </select>
                        </div>
                        <div class="wizard-buttons">
                            <button type="button" class="btn btn-primary wizard-next">Próximo <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>

                </fieldset>

                <fieldset>
                    <div class="form-group text-center">
                        <div class="row">
                            <div class="col-xs-6">
                                <label><h3>Saco</h3><input type="radio" name="tipoproduto" value="Saco"></label>
                            </div>
                            <div class="col-xs-6">
                                <label><h3>Película</h3><input type="radio" name="tipoproduto" value="Película"></label>
                            </div>
                        </div>
                    </div>

                    <div class="produtosaco hidden">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Razão Social</label>
                                    <input name="cliente_nome" type="text" class="form-control" data-type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="produtopelicula hidden">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label><input type="radio" name="tipo_produto" value="Liso"> Liso</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label><input type="radio" name="tipo_produto" value="Impresso"> Impresso</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <h4>Tell us who you are3:</h4>
                    <div class="form-group">
                        <label class="sr-only" for="f1-first-name">First name</label>
                        <input type="text" name="f1-first-name" placeholder="First name..." class="f1-first-name form-control input-error" id="f1-first-name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="f1-last-name">Last name</label>
                        <input type="text" name="f1-last-name" placeholder="Last name..." class="f1-last-name form-control input-error" id="f1-last-name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="f1-about-yourself">About yourself</label>
                        <textarea name="f1-about-yourself" placeholder="About yourself..." class="f1-about-yourself form-control input-error" id="f1-about-yourself"></textarea>
                    </div>
                    <div class="wizard-buttons">
                        <button type="button" class="btn btn-primary wizard-previous"><i class="fa fa-arrow-left"></i> Anterior</button>
                        <button type="button" class="btn btn-primary wizard-next">Próximo <i class="fa fa-arrow-right"></i></button>
                    </div>
                </fieldset>
                <fieldset>
                    <h4>Tell us who you are4:</h4>
                    <div class="form-group">
                        <label class="sr-only" for="f1-first-name">First name</label>
                        <input type="text" name="f1-first-name" placeholder="First name..." class="f1-first-name form-control input-error" id="f1-first-name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="f1-last-name">Last name</label>
                        <input type="text" name="f1-last-name" placeholder="Last name..." class="f1-last-name form-control input-error" id="f1-last-name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="f1-about-yourself">About yourself</label>
                        <textarea name="f1-about-yourself" placeholder="About yourself..." class="f1-about-yourself form-control input-error" id="f1-about-yourself"></textarea>
                    </div>
                    <div class="wizard-buttons">
                        <button type="button" class="btn btn-primary wizard-previous"><i class="fa fa-arrow-left"></i> Anterior</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function ($) {
        {
            var $wizard = $('.wizard');
            var wizardsteps = $wizard.find('.wizard-step');
            var $wizardprogressline = $('.wizard-progress-line');
            var fieldsets = $wizard.find('fieldset');
            var stepwidth = 100 / wizardsteps.length;
            function nextStep() {
                var index = -1;
                for (var i = 0; i < fieldsets.length; i++) {
                    if ($(fieldsets[i]).hasClass('wizard-showing')) {
                        index = i;
                        $(fieldsets[i]).removeClass('wizard-showing');
                        $(fieldsets[i + 1]).addClass('wizard-showing');
                        break;
                    }
                }
                $(wizardsteps[index]).removeClass('active').addClass('activated');
                $(wizardsteps[index + 1]).addClass('active');
                var newwidth = parseFloat($wizardprogressline.attr('data-width')) + stepwidth;
                $wizardprogressline.attr('data-width', newwidth);
                $wizardprogressline.css('width', newwidth + '%');
            }
            function previousStep() {
                var index = -1;
                for (var i = 0; i < fieldsets.length; i++) {
                    if ($(fieldsets[i]).hasClass('wizard-showing')) {
                        index = i;
                        $(fieldsets[i]).removeClass('wizard-showing');
                        $(fieldsets[i - 1]).addClass('wizard-showing');
                        break;
                    }
                }
                $(wizardsteps[index]).removeClass('active');
                $(wizardsteps[index - 1]).addClass('active').removeClass('activated');
                var newwidth = parseFloat($wizardprogressline.attr('data-width')) - stepwidth;
                $wizardprogressline.attr('data-width', newwidth);
                $wizardprogressline.css('width', newwidth + '%');
            }
            $('.wizard-previous').click(previousStep);
            $('.wizard-next').click(nextStep);
        }

        $('input[name="tipocliente"]').change(function () {
            if ($(this).val() == 1) {
                $('.clientenovo').removeClass('hidden');
                $('.clienteexistente').addClass('hidden');
            } else {
                $('.clientenovo').addClass('hidden');
                $('.clienteexistente').removeClass('hidden');
            }
        });

        $('input[name="tipoproduto"]').change(function () {
            if ($(this).val() == 'Saco') {
                $('.produtosaco').removeClass('hidden');
                $('.produtopelicula').addClass('hidden');
            } else {
                $('.produtosaco').addClass('hidden');
                $('.produtopelicula').removeClass('hidden');
            }
        });

    });

</script>