<style>
    .wizard-steps {
        overflow: hidden;
        position: relative;
        margin-top: 20px;
        text-align: center;
    }

    .wizard-progress {
        position: absolute;
        top: 24px;
        left: 0;
        width: 100%;
        height: 3px;
        background: #ddd;
    }

    .wizard-progress-line {
        position: absolute;
        top: 0;
        left: 0;
        height: 3px;
        background: #f35b3f;
    }

    .wizard-step {
        position: relative;
        float: left;
        width: 33.333333%;
        padding: 0 5px;
    }

    .wizard-step-icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-top: 4px;
        background: #ddd;
        font-size: 16px;
        color: #fff;
        line-height: 40px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .wizard-step.activated .wizard-step-icon {
        background: #fff;
        border: 1px solid #f35b3f;
        color: #f35b3f;
        line-height: 38px;
    }

    .wizard-step.active .wizard-step-icon {
        width: 48px;
        height: 48px;
        margin-top: 0;
        background: #f35b3f;
        font-size: 22px;
        line-height: 48px;
    }

    .wizard-step p {
        color: #ccc;
    }

    .wizard-step.activated p {
        color: #f35b3f;
    }

    .wizard-step.active p {
        color: #000000;
        font-weight: bold;
    }

    .wizard fieldset {
        display: none;
        text-align: left;
    }

    .wizard-buttons {
        text-align: right;
    }
</style>
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-body">
            <div id="wizard" class="wizard-steps">
                <div class="wizard-progress">
                    <div class="wizard-progress-line" style="width: 16.66%;"></div>
                </div>
                <div class="wizard-step active">
                    <div class="wizard-step-icon"><i class="fa fa-user"></i></div>
                    <p>Cliente</p>
                </div>
                <div class="wizard-step">
                    <div class="wizard-step-icon"><i class="fa fa-key"></i></div>
                    <p>account</p>
                </div>
                <div class="wizard-step">
                    <div class="wizard-step-icon"><i class="fa fa-twitter"></i></div>
                    <p>social</p>
                </div>
            </div>

            <fieldset style="display: block;">
                <h4>Tell us who you are:</h4>
                <div class="form-group">
                    <label class="sr-only" for="f1-first-name">First name</label>
                    <input type="text" name="f1-first-name" placeholder="First name..." class="f1-first-name form-control input-error" id="f1-first-name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="f1-last-name">Last name</label>
                    <input type="text" name="f1-last-name" placeholder="Last name..." class="f1-last-name form-control input-error" id="f1-last-name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="f1-about-yourself">About yourself</label>
                    <textarea name="f1-about-yourself" placeholder="About yourself..." class="f1-about-yourself form-control input-error" id="f1-about-yourself"></textarea>
                </div>
                <div class="wizard-buttons">
                    <button type="button" class="btn btn-primary btn-next">Next</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>