<!DOCTYPE html>
<html>

<head>
    <% include parts/head %>
</head>

<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">

        <div class="content-wrapper">
            <section class="content">
                <div class="error-page">
                    <h2 class="headline text-yellow"> 403</h2>
                    <div class="error-content">
                        <h3><i class="fa fa-warning text-yellow"></i> Oops! Forbidden.</h3>
                        <p>
                            Você não tem permissão para acessar esta página no momento. Enquanto isso, você pode <a href="/home">retornar a página principal</a>                            e tentar novamente mais tarde.
                        </p>
                    </div>
                </div>
            </section>
        </div>

    </div>
</body>

</html>