<!DOCTYPE html>
<html>

<head>
  <% include parts/head %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <% include parts/nav %>
      <% include parts/sidebar %>

        <div class="content-wrapper">
          
        </div>
  </div>

  <% include parts/js %>
    <script type="text/javascript">
      application.index();
    </script>
</body>

</html>