<div class="hidden">
    {{{hidden}}}
</div>

<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-body">
            <div id="z1" class="row">
                {{{z1}}}
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-body">
            <div id="z2" class="row">
                {{{z2}}}
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-body">
            <div id="z3" class="row">
                {{{z3}}}
            </div>
        </div>
    </div>
</div>