<!DOCTYPE html>
<html>

<head>
  <% include ../parts/head %>
</head>

<body class="skin-blue layout-top-nav">
  <div class="wrapper">

    <header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a href="/home" class="navbar-brand"><b>Admin</b>LTE</a>
          </div>
      </nav>
    </header>

    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          <%= title %>
        </h1>
      </section>

      <section class="content">
        <div class="row">
          <%- include(template) %>
        </div>
      </section>
    </div>

    <% include ../parts/js %>

      <script type="text/javascript">
        $(document).ready(function () {
          application.components.renderAll();
        });
      </script>
</body>

</html>