<!DOCTYPE html>
<html>

<head>
  <% include ../parts/head %>
</head>

<body class="hold-transition skin-blue">
  <div class="pace pace-inactive">
    <div class="pace-activity"></div>
  </div>

  <script type="text/javascript">
    if (Cookies.get('sidebar-collapse')) {
      document.getElementsByTagName('body')[0].className += ' sidebar-collapse';
    }
  </script>
  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          <%= title %>
        </h1>
      </section>

      <section class="content">
        <div class="row">
          <%- include(template) %>
        </div>
      </section>
    </div>
  </div>

  <% include ../parts/js %>

    <script type="text/javascript">
      $(document).ready(function () {
        application.components.renderAll();
      });
    </script>
</body>

</html>