<!DOCTYPE html>
<html>

<head>
  {{> parts/head }}
</head>

<body class="skin-blue layout-top-nav">
  <div class="wrapper">

    <header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <a href="/login">
                <i class="fa fa-arrow-right"></i>
                Acessar
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          {{title}}
        </h1>
      </section>

      <section class="content">
        <div class="row">
          {{{template}}}
        </div>
      </section>
    </div>

    {{> parts/js }}

    <script type="text/javascript">
      $(document).ready(function () {
        application.components.renderAll();
      });
    </script>
</body>

</html>