<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab"> Geral</a></li>
            <li><a href="#tab_2" data-toggle="tab"> Tabela</a></li>
            <li><a href="#tab_3" data-toggle="tab"> Atributos</a></li>
            <li><a href="#tab_4" data-toggle="tab"> Subviews</a></li>
            <li><a href="#tab_5" data-toggle="tab"> Eventos</a></li>
        </ul>
        <div class="tab-content">

            <div class="tab-pane active" id="tab_1">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        {{{view}}}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_2">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        {{{viewtable}}}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_3">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        {{{viewfield}}}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_4">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        {{{viewsubview}}}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_5">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        {{{viewevent}}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>