<!DOCTYPE html>
<html>

<head>
  {{> parts/head }}
  <link rel="stylesheet" type="text/css" href="/public/assets/fullcalendar/core/main.min.css" />
  <link rel="stylesheet" type="text/css" href="/public/assets/fullcalendar/daygrid/main.min.css" />
  <link rel="stylesheet" type="text/css" href="/public/assets/fullcalendar/timegrid/main.min.css" />
  <style>
    .removeEvent {
      position: absolute;
      top: 1px;
      right: 1px;
      width: 15px;
      height: 15px;
      text-align: center;
      cursor: auto;
      z-index: 99;
    }

    .fc-toolbar {
      display: none;
    }
  </style>
</head>

<body class="hold-transition fixed skin-blue sidebar-mini">
  <div class="pace pace-inactive">
    <div class="pace-activity"></div>
  </div>

  <script type="text/javascript">
    if (Cookies.get('sidebar-collapse')) {
      document.getElementsByTagName('body')[0].className += ' sidebar-collapse';
    }
  </script>
  <div class="wrapper">

    {{> parts/nav }} {{> parts/sidebar }}

    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          {{title}}
        </h1>
      </section>

      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-primary">
              <div class="box-body">
                <div class="row">
                  <div class="col-md-4 text-center">
                    <button class="cfc-insert btn btn-success" type="button"> <i class="fa fa-plus"></i> </button>
                    <div class="btn-group" style="margin-left: 10px">
                      <button class="cfc-prev btn btn-default" type="button"> <i class="fa fa-chevron-left"></i>
                      </button>
                      <button class="cfc-next btn btn-default" type="button"> <i class="fa fa-chevron-right"></i>
                      </button>
                    </div>
                    <button class="cfc-today btn btn-default" type="button" style="margin-left: 10px"> <span>Hoje</span>
                    </button>
                  </div>
                  <div class="col-md-4 text-center">
                    <h4 class="cfc-title"></h4>
                  </div>
                  <div class="col-md-4 text-center">
                    <div class="btn-group">
                      <button class="cfc-viewtype btn btn-default" data-value="dayGridMonth" type="button">
                        <span>Mês</span> </button>
                      <button class="cfc-viewtype btn btn-default" data-value="timeGridWeek" type="button">
                        <span>Semana</span> </button>
                      <button class="cfc-viewtype btn btn-default" data-value="timeGridDay" type="button">
                        <span>Dia</span> </button>
                    </div>
                    <button class="cfc-filter btn btn-default btnfilter" data-view="view{{view}}" type="button"
                      style="margin-left: 10px">
                      <span><i class="fa fa-search fa-flip-horizontal"></i></span>
                    </button>
                  </div>
                </div>
                <div id="view{{view}}" class="calendar" data-view="{{view}}"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  {{> parts/js }}
  <script src="/public/assets/fullcalendar/core/main.min.js" type="text/javascript"></script>
  <script src="/public/assets/fullcalendar/core/locales/pt-br.js?v2" type="text/javascript"></script>
  <script src="/public/assets/fullcalendar/interaction/main.min.js" type="text/javascript"></script>
  <script src="/public/assets/fullcalendar/daygrid/main.min.js" type="text/javascript"></script>
  <script src="/public/assets/fullcalendar/timegrid/main.min.js" type="text/javascript"></script>

  <script type="text/javascript">
    application.index(true);
    $(document).ready(function () {
      var view = $('.calendar').attr('data-view');
      application.view.getConfig(view, function (config) {
        if (config.success) {
          var calendarState = {};
          function saveCalendarState(info) {
            $('.cfc-title').html($('.fc-center h2').html());
            calendarState.viewType = info.view.type;
            calendarState.date = calendar.getDate();
            localStorage.setItem('calendar_' + view, JSON.stringify(calendarState));
          }
          function getCalendarState() {
            return JSON.parse(localStorage.getItem('calendar_' + view) || '{}');
          }
          calendarState = getCalendarState();
          function setEvent(info) {
            // Round nearest minute
            var minute = parseInt(config.add.slotDuration.split(':')[1]);
            var intervals = [0];
            while (true) {
              if (intervals[intervals.length - 1] + minute <= 60) {
                intervals.push(intervals[intervals.length - 1] + minute);
              } else {
                break;
              }
            }
            var getIndexOfClosestValue = function (needle, haystack) {
              var closestValueIndex = 0, i = 0, j = haystack.length;
              while (i < j) {
                if (Math.abs(needle - haystack[closestValueIndex]) > Math.abs(haystack[i] - needle)) {
                  closestValueIndex = i;
                }
                i++;
              }
              return closestValueIndex;
            };
            var start = moment(info.event.start);
            start.minute(intervals[getIndexOfClosestValue(start.minute(), intervals)]);
            start = moment(start).format('DD/MM/YYYY HH:mm');
            var end = info.event.end;
            if (end) {
              end = moment(info.event.end);
              end.minute(intervals[getIndexOfClosestValue(end.minute(), intervals)]);
              end = end.format('DD/MM/YYYY HH:mm');
            }
            $.ajax({
              url: '/v/' + view + '/' + info.event.id
              , method: 'POST'
              , dataType: 'json'
              , data: {
                _calendar: true
                , id: info.event.id
                , [config.add.attribute_start]: start
                , [config.add.attribute_end]: end
              }
              , success: function (response) {
                application.handlers.responseSuccess(response);
                calendar.refetchEvents();
              }
              , error: function (response) {
                application.handlers.responseError(response);
              }
            });
          }
          calendar = new FullCalendar.Calendar(document.getElementById($('.calendar')[0].id), {
            plugins: ['interaction', 'dayGrid', 'timeGrid']
            , header: {
              left: 'prev,next today'
              , center: 'title'
              , right: 'dayGridMonth,timeGridWeek,timeGridDay'
            }
            , locale: 'pt-br'
            , height: application.functions.isMobile() ? 'auto' : application.functions.getAvailableHeight() + 80
            , editable: true
            , navLinks: true
            , eventLimit: false
            , defaultDate: calendarState.date || null
            , defaultView: calendarState.viewType || null
            , slotDuration: config.add.slotDuration || null
            , slotLabelFormat: {
              hour: 'numeric'
              , minute: '2-digit'
              , omitZeroMinute: false
            }
            , minTime: config.add.minTime || '00:00:00'
            , maxTime: config.add.maxTime || '24:00:00'
            , events: function (info, successCallback, failureCallback) {
              $.ajax({
                url: '/datasource'
                , method: 'POST'
                , dataType: 'json'
                , data: {
                  start: info.startStr,
                  end: info.endStr,
                  view: view
                }
                , success: function (response) {
                  successCallback(response.events);
                }
              });
            }
            , eventRender: function (info) {
              $(info.el).append('<i class="far fa-trash-alt removeEvent" data-id="' + info.event.id + '" title="Excluir"></i>');
              $(info.el).find(".removeEvent").click(function (e) {
                e.stopPropagation();
                var $this = $(this);
                application.functions.confirmMessage('O registro selecionado será Excluído. Continuar?', function () {
                  $.ajax({
                    url: '/v/' + view + '/delete'
                    , type: 'POST'
                    , dataType: 'json'
                    , data: { ids: $this.attr('data-id') }
                    , success: function (response) {
                      application.handlers.responseSuccess(response);
                      if (response.success) {
                        calendar.refetchEvents();
                      }
                    }
                    , error: function (response) {
                      application.handlers.responseError(response);
                    }
                  });
                });
              });
            }
            , viewSkeletonRender: saveCalendarState
            , datesRender: saveCalendarState
            , eventClick: function (info) {
              if (info.jsEvent.ctrlKey) {
                window.open(window.location.pathname + '/' + info.event.id);
              } else {
                window.location.href = window.location.pathname + '/' + info.event.id;
              }
            }
            , eventDrop: setEvent
            , eventResize: setEvent
          });
          calendar.render();
          if (Cookies.get('view' + view + 'filter'))
            $('.cfc-filter').removeClass('btn-default').addClass('btn-primary');
          // Events
          $('.cfc-viewtype').click(function () {
            $('.cfc-viewtype').removeClass('btn-primary').addClass('btn-default');
            $(this).removeClass('btn-default').addClass('btn-primary');
            calendar.changeView($(this).attr('data-value'));
          });
          $('.cfc-prev').click(function () {
            calendar.prev();
          });
          $('.cfc-next').click(function () {
            calendar.next();
          });
          $('.cfc-today').click(function () {
            calendar.today();
          });
          $('.cfc-insert').click(function () {
            window.location.href = window.location.pathname + '/0';
          });
        }
      });
    });
  </script>
</body>

</html>