<!DOCTYPE html>
<html>

<head>
    {{> parts/head }}
</head>

<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">

        <div class="content-wrapper">
            <section class="content">
                <div class="error-page">
                    <div class="error-content">
                        <h3><i class="fa fa-warning text-yellow"></i> Oops! Register not found.</h3>

                        <p>
                            Este registro não se encontra mais no sistema.
                        </p>

                        <p>
                            Você pode <a href="/home">retornar a página principal</a>.
                        </p>

                    </div>
                </div>
            </section>
        </div>

    </div>
</body>

</html>