<!DOCTYPE html>
<html>

<head>
  <% include ../parts/head %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="pace pace-inactive">
    <div class="pace-activity"></div>
  </div>

  <script type="text/javascript">
    if (Cookies.get('sidebar-collapse')) {
      document.getElementsByTagName('body')[0].className += ' sidebar-collapse';
    }
  </script>
  <div class="wrapper">

    <% include ../parts/nav %>
      <% include ../parts/sidebar %>

        <div class="content-wrapper">

          <section class="content-header">
            <h1>
            </h1>
          </section>

          <section class="content">
            <div class="row">

              <div class="col-md-12">
                <div class="box box-primary">
                  <div class="box-body">

                    <table id="tableview<%= viewid %>" class="table table-bordered table-hover dataTable" width="100%" data-view="<%= viewid %>">
                    </table>

                  </div>
                </div>
              </div>

          </section>

          </div>
        </div>

        <% include ../parts/js %>

          <script type="text/javascript">
            application.index();
            $(document).ready(function () {
              application.components.renderAll();
            });
          </script>
</body>

</html>