<!DOCTYPE html>
<html>

<head>
  {{> parts/head }}
</head>

<body class="hold-transition fixed skin-blue sidebar-mini">
  <div class="pace pace-inactive">
    <div class="pace-activity"></div>
  </div>

  <script type="text/javascript">
    if (Cookies.get('sidebar-collapse')) {
      document.getElementsByTagName('body')[0].className += ' sidebar-collapse';
    }
  </script>

  <div class="wrapper">
    {{> parts/nav }} {{> parts/sidebar }}
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          {{title}}
          <small>{{id}}</small>
        </h1>
      </section>

      <input id="id" type="hidden" value="{{id}}" />
      <form id="form" class="xhr" autocomplete="off">
        <section class="content" style="padding-bottom: 40px;">
          <div class="row">
            {{{template}}}
          </div>

          <div class="row" style="position: fixed;bottom: 10px;">
            <div class="col-md-12">
              <button id="view-submit" type="submit" class="btn btn-success btn-biggermobile" title="Salvar">
                <i class="fa fa-check"></i>
              </button>
              <button id="view-return" type="button" class="btn btn-primary btn-biggermobile" title="Voltar">
                <i class="fa fa-reply"></i>
              </button>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>

  {{> parts/js }}

  <script type="text/javascript">
    application.index(true);
    application.isRegisterview = true;
    $(document).ready(function () {
      application.components.renderAll();
      if (application.functions.getId() == 0 && !application.functions.isMobile()) {
        application.functions.focusFirstElement($('#form'));
      }
    });
  </script>
  {{{js}}}

</body>

</html>