/* AdminLTE */
@media (max-width: 991px){
    .main-header .navbar-custom-menu a, .main-header .navbar-right a {
        color: #3c8dbc;
    }    
}
@media (min-width: 768px){
    .sidebar-mini.sidebar-collapse .main-sidebar {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 0px !important;
    }
}
@media (max-width: 767px) {
    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: #3c8dbc;
    }
    .skin-blue .main-header .navbar .dropdown-menu li a:hover {
        background: none;
    }
    .main-header {
        position: fixed;
        top: 0px;
        width: 100%;
    }
    .main-header .logo {
        font-size: 12px;
        height: 25px;
        line-height: 26px;
    }
    .main-sidebar {
        padding-top: 75px;
    }
    body.sidebar-open aside.main-sidebar {
        width: 100%;
    }
    .pace .pace-activity {
        right: 50%;
    }
    .sidebar-menu > li.header {
        display: none;
    }
    .btn-biggermobile {
        font-size: 20px;
    }
    .navbar-custom-menu .navbar-nav > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .main-header .navbar {
        min-height: auto;
    }
    .main-header .sidebar-toggle {
        padding: 8px 15px;
    }
    .content-wrapper {
        margin-top: 60px;
    }
}
div.wrapper {
    overflow: hidden;
}
.main-header .navbar .nav > li > a > .label {
    font-size: 12px;
    right: 5px;
    border-radius: 7px;
}
.nav-tabs-custom{
    border: 1px solid #d4d4d4;
}
.nav-tabs-custom > .nav-tabs {
    border-bottom-color: #d4d4d4;
}
.nav-tabs-custom > .nav-tabs > li {
    border-top: 2px solid transparent;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
    border-left-color: #d4d4d4;
    border-right-color: #d4d4d4;
}
h4.title_subview {
    margin: 2px 0;
    text-align: center;
}
.sidebar-menu ul li a {
    white-space: normal;
    word-wrap: break-word;
}
.dropdown-menu > li > a {
    padding: 3px 10px;
}
.treeview-menu > li > a {
    padding: 10px 5px 10px 15px;
}
.box {
    border-top: 2px solid #d2d6de;
}
.box-body {
    padding: 5px;
}
.btn {
    border-radius: 0px;
}
ul.dropdown-menu > li > a > i {
    min-width: 14px;
    text-align: center;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu
, .navbar-nav > .messages-menu > .dropdown-menu > li .menu
, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
    max-height: 350px;
}
.main-header .sidebar-toggle:before {
    content: "";
}

/* Bootstrap */
@media (min-width: 768px) {
    .modal-fullscreen { 
        width: auto;
        margin: 10px;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px;
    }
}
.checkbox {
    padding: 0 3px;
}
.label {
    font-size: 85%;
}
.radio {
    margin-top: 0;
}
.form-group {
    margin-bottom: 5px;
}
.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    border-radius: 0px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0px;
}

/* Datatables */
@media (min-width: 768px) {
    table.dataTable {
        font-size: 13px;
    }
}
@media (max-width: 767px) {
    table.dataTable {
        font-size: 8pt;
    }
    .col-sm-center{
        text-align: center;
    }
}
.table-bordered {
    border: 1px solid #ddd;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}
.dataTables_wrapper {
    overflow: visible;
}
table.dataTable.compact thead th, table.dataTable.compact tbody td {
    padding: 4px;
}
table.dataTable thead tr th, table.dataTable tfoot tr td {
    background-color: #f4f4f4;
    font-weight: bold;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 3px;
}
div.dataTables_wrapper div.dataTables_info {
    display: inline-block;
    margin-left: 5px;
    padding: 0;
}
div.dataTables_wrapper div.dataTables_filter input {
    width: 100%;
    margin-left: 0;
}
.dataTables_filter > label {
    display: none;
}
table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before {
    margin-top: -10px;
}
table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after {
    margin-top: -14px;
}
table.dataTable tbody td.select-checkbox, table.dataTable tbody th.select-checkbox{
    width: 20px;
}

/* Select2 */
@media (max-width: 767px) {
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        padding: 4px 7px;
    }
    
}
.form-group.has-error .select2-selection {
    border-color: #dd4b39;
    box-shadow: none;
}
.select2-selection:focus {
    border-color: #3c8dbc;
}
.select2-selection__clear {
    padding: 0 5px;
    font-size: 20px;
    color: #888888;
}

/* Dropzone */
.dropzone {
    border: 1px solid #d2d6de;
    padding: 5px;
    min-height: 180px;
}
div.dz-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    left: 59%;
}
.dropzone .dz-preview .dz-image {    
    border-radius: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dropzone .dz-preview.dz-file-preview .dz-image {    
    border-radius: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dropzone .dz-preview .dz-error-message {
    top: 30px;
}
.dropzone .dz-preview .dz-error-message:after {
    content: none;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
    color: green
}
.dropzone .dz-preview.dz-error .dz-error-mark {
    color: red
}
.dropzone .dz-preview .dz-image {
    border-radius: 0px;
    height: 105px;
}
.dropzone .dz-message {
    margin: 3em 0;
}

/* Custom */
@media (min-width: 992px) {
    .no-padding {
        padding: 0;
    }
    .no-padding-left {
        padding-left: 0;
    }
    .no-padding-right {
        padding-right: 0;
    }
    .checkbox{
        min-height: 44px;
    }  
}
a.btnevent i.fa {
    min-width: 14px;
}
.nowrap {
    white-space: nowrap;
}
.font-bold {
    font-weight: bold;
}
.dt-width-datetime {
    width: 105px;
}
.overflow-auto {
    overflow: auto;
}