/* AdminLTE */
@media (max-width: 991px){
    .main-header .navbar-custom-menu a, .main-header .navbar-right a {
        color: #3c8dbc;
    }
}
@media (max-width: 767px) {
    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: #3c8dbc;
    }
    .skin-blue .main-header .navbar .dropdown-menu li a:hover {
        background: none;
    }
    .main-header .logo {
        font-size: 12px;
        height: 25px;
        line-height: 26px;
    }
    .main-sidebar {
        padding-top: 75px;
    }
    body.sidebar-open aside.main-sidebar {
        width: 100%;
    }
    .pace .pace-activity {
        right: 50%;
    }
    .sidebar-menu > li.header {
        display: none;
    }
    .btn-biggermobile {
        font-size: 20px;
    }
}
div.wrapper {
    overflow: hidden;
}
.main-header .navbar .nav > li > a > .label {
    font-size: 12px;
    right: 5px;
    border-radius: 7px;
}
.nav-tabs-custom{
    border: 1px solid #d4d4d4;
}
.nav-tabs-custom > .nav-tabs {
    border-bottom-color: #d4d4d4;
}
.nav-tabs-custom > .nav-tabs > li {
    border-top: 2px solid transparent;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
    border-left-color: #d4d4d4;
    border-right-color: #d4d4d4;
}
h4.title_subview {
    margin: 2px 0;
    text-align: center;
}
.sidebar-menu ul li a {
    white-space: normal;
    word-wrap: break-word;
}
.dropdown-menu > li > a {
    padding: 3px 10px;
}
.treeview-menu > li > a {
    padding: 10px 5px 10px 15px;
}
.box {
    border-top: 2px solid #d2d6de;
}

/* Bootstrap */
@media (min-width: 768px) {
    .modal-fullscreen { 
        width: auto;
        margin: 10px;
    }
}
div.btn-group-events .dropdown-menu > li > a {
    padding: 3px 10px;
}
.checkbox {
    padding: 0 3px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 4px;
}
.label {
    font-size: 85%;
}

/* Datatables */
@media (min-width: 768px) {
    table.dataTable {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    table.dataTable {
        font-size: 8pt;
    }
}
.table-bordered {
    border: 1px solid #ddd;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}
.dataTables_wrapper {
    overflow-x: auto;
}
table.dataTable.compact thead th, table.dataTable.compact tbody td {
    padding: 4px;
}
.btn-group-filter {
    float: right;
}
table.dataTable thead tr th, table.dataTable tfoot tr td {
    background-color: #f4f4f4;
    font-weight: bold;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 3px;
}

/* Select2 */
@media (max-width: 767px) {
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        padding: 4px 7px;
    }
    
}
.form-group.has-error .select2-selection {
    border-color: #dd4b39;
    box-shadow: none;
}
.select2-selection:focus {
    border-color: #3c8dbc;
}
.select2-selection__clear {
    padding: 0 5px;
    font-size: 20px;
    color: #888888;
}

/* Dropzone */
.dropzone {
    border: 1px solid #d2d6de;
    padding: 5px;
}
div.dz-image img {
    max-height: 100%;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    left: 59%;
}
.dropzone .dz-preview .dz-image {    
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dropzone .dz-preview.dz-file-preview .dz-image {    
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dropzone .dz-preview .dz-error-message {
    top: 30px;
}
.dropzone .dz-preview .dz-error-message:after {
    content: none;
}
.dropzone .dz-preview.dz-error .dz-error-mark {
    color: red
}

/* Wizard */
.wizard {
    background: #fff;
}
.wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}
.wizard > div.wizard-inner {
    position: relative;
}
.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}
span.round-tab {
    width: 50px;
    height: 50px;
    line-height: 47px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
}
span.round-tab i{
    color:#555555;
    margin-left: 1px;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}
span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}
.wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    line-height: 50px;
}
.wizard .nav-tabs > li a:hover {
    background: transparent;
}
.wizard .tab-pane {
    position: relative;
    padding-top: 25px;
}
.wizard h3 {
    margin-top: 0;
}

/* Custom */
@media (min-width: 992px) {
    .no-padding {
        padding: 0;
    }
    .no-padding-left {
        padding-left: 0;
    }
    .no-padding-right {
        padding-right: 0;
    }    
}
a.btnevent i.fa {
    min-width: 14px;
}
.nowrap {
    white-space: nowrap;
}
.font-bold {
    font-weight: bold;
}
.dt-width-datetime {
    width: 105px;
}