/* AdminLTE */
@media (max-width: 991px) {
    .main-header .navbar-custom-menu a, .main-header .navbar-right a {
        color: #3c8dbc;
    }    
}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-sidebar {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 0px !important;
    }
}
@media (max-width: 767px) {
    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: #3c8dbc;
    }
    .skin-blue .main-header .navbar .dropdown-menu li a:hover {
        background: none;
    }
    .main-header {
        position: fixed;
        top: 0px;
        width: 100%;
    }
    .main-header .logo {
        font-size: 12px;
        height: 25px;
        line-height: 26px;
    }
    .main-sidebar {
        padding-top: 75px;
    }
    body.sidebar-open aside.main-sidebar {
        width: 100%;
    }
    .pace .pace-activity {
        right: 50%;
    }
    .sidebar-menu > li.header {
        display: none;
    }
    .btn-biggermobile {
        font-size: 20px;
    }
    .navbar-custom-menu .navbar-nav > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .main-header .navbar {
        min-height: auto;
    }
    .main-header .sidebar-toggle {
        padding: 8px 15px;
    }
    .fixed .content-wrapper {
        padding-top: 60px;
    }
}
div.wrapper {
    overflow: hidden;
}
.nav-tabs-custom {
    border: 1px solid #d4d4d4;
}
.nav-tabs-custom > .nav-tabs {
    border-bottom-color: #d4d4d4;
}
.nav-tabs-custom > .nav-tabs > li {
    border-top: 2px solid transparent;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
    border-left-color: #d4d4d4;
    border-right-color: #d4d4d4;
}
h4.title_subview {
    margin: 2px 0;
    text-align: center;
}
.sidebar-menu ul li a {
    white-space: normal;
    word-wrap: break-word;
}
.dropdown-menu > li > a {
    padding: 3px 10px;
}
.treeview-menu > li > a {
    padding: 10px 5px 10px 15px;
}
.box {
    border-top: 2px solid #d2d6de;
}
.box-body {
    padding: 5px;
}
ul.dropdown-menu > li > a > i {
    min-width: 14px;
    text-align: center;
    margin-right: 10px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu
, .navbar-nav > .messages-menu > .dropdown-menu > li .menu
, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
    max-height: 350px;
}
.main-header .sidebar-toggle:before {
    content: "";
}
.treeview-menu > li > a > .fa, .treeview-menu > li > a > .far, .treeview-menu > li > a > .fas, .treeview-menu > li > a > .fal 
, .sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .far, .sidebar-menu > li > a > .fas, .sidebar-menu > li > a > .fal {
    width: 20px;
}
.table tr td .progress {
    margin-top: 0px;
}
.main-sidebar {
    height: 100%;
}
hr {
    border-top: 1px solid #d4d4d4;
}

/* Bootstrap */
@media (min-width: 768px) {
    .modal-fullscreen { 
        width: auto;
        margin: 10px;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px;
    }
}
.checkbox {
    padding: 0 3px;
}
.label {
    font-size: 85%;
    margin-bottom: 3px;
}
.radio {
    margin-top: 0;
}
.form-group {
    margin-bottom: 3px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0px;
}
.progress {
    height: 18px;
}
.form-control {
    height: 25px;   
    border-radius: 5px;
}

/* Datatables */
@media (min-width: 768px) {
    table.dataTable {
        font-size: 13px;
    }
}
@media (max-width: 767px) {
    table.dataTable {
        font-size: 8pt;
    }
    .col-sm-center{
        text-align: center;
    }
}
@media (max-width: 640px) {
    div.dt-buttons {
        text-align: left;
    }
}
.table-bordered {
    border: 1px solid #ddd;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}
.dataTables_wrapper {
    overflow: visible;
}
table.dataTable thead tr th, table.dataTable tfoot tr td {
    background-color: #f4f4f4;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 3px;
}
div.dataTables_wrapper div.dataTables_filter input {
    width: 100%;
    margin-left: 0;
}
table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before {
    margin-top: -10px;
}
table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after {
    margin-top: -14px;
}
table.dataTable tbody td.select-checkbox, table.dataTable tbody th.select-checkbox {
    width: 20px;
}
div.dt-button-collection {
    width: auto;
    max-height: 400px;
    min-width: 175px;
    overflow: auto;    
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0px;
}
table.dataTable {
    background: #ffffff;
}
.dataTables_scrollBody {
    background: repeating-linear-gradient(45deg, #f4f4f4bd, #f4f4f4bd 10px, white 10px, white 20px);
}

/* Select2 */
@media (max-width: 767px) {
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        padding: 0px 7px;
    }    
}
.form-group.has-error .select2-selection {
    border-color: #dd4b39;
    box-shadow: none;
}
.select2-selection:focus {
    border-color: #3c8dbc;
}
.select2-selection__clear {
    top: -1px;
    right: -3px;
    padding: 0 5px;
    font-size: 20px;
    color: #888888;
}
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    height: 25px;
    border-radius: 5px;
    padding: 4px 12px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 15px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0px;
    padding-right: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}
.select2-container .select2-selection--multiple {
    min-height: 25px;
    border-radius: 5px;
}
.select2-container .select2-search--inline .select2-search__field {
    padding-left: 12px;
    margin-top: 0px;
    line-height: 22px;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    line-height: 21px;
    margin-right: 0px; 
    margin-top: 0px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-right: 2px; 
    margin-top: 1px;
    height: 21px;
    line-height: 16px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    display: block;
    padding: 0px;
}

/* Dropzone */
.dropzone {
    border: 1px solid #d2d6de;
    padding: 5px;
    min-height: 160px;
    border-radius: 5px;
}
div.dz-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    left: 59%;
}
.dropzone .dz-preview {    
    margin: 5px;
}
.dropzone .dz-preview .dz-image {    
    height: 105px;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dropzone .dz-preview.dz-file-preview .dz-image {    
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dropzone .dz-preview .dz-error-message {
    top: 30px;
}
.dropzone .dz-preview .dz-error-message:after {
    content: none;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
    color: green
}
.dropzone .dz-preview.dz-error .dz-error-mark {
    color: red
}
.dropzone .dz-message {
    margin: 3em 0;
}
.dropzone .dz-preview:hover, .dropzone .dz-preview .dz-image, .dropzone .dz-preview .dz-details {
    z-index: unset;
}
.dz-dldiv .btn {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dz-deldiv .btn {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Custom */
@media (min-width: 992px) {
    .no-padding {
        padding: 0;
    }
    .no-padding-left {
        padding-left: 0;
    }
    .no-padding-right {
        padding-right: 0;
    }
    .checkbox {
        min-height: 33px;
    }  
}
a.btnevent i.fa {
    min-width: 14px;
}
.nowrap {
    white-space: nowrap;
}
.font-bold {
    font-weight: bold;
}
.dt-width-datetime {
    width: 105px;
}
.overflow-auto {
    overflow: auto;
}
.text-left {
    text-align: left;
}
.dt-button-divisor {
    padding: 1px;
}
.dt-cell {
    overflow: auto;
    white-space: normal;
}
#view-submit, #view-return {
    box-shadow: 0px 2px 22px -6px black;
    border-radius: 10px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}