@media (max-width: 767px) {

    /*Hide logo on mobile*/
    .main-header .logo {
        display: none;
    }
    /*Fix Sidebar for style above*/
    .main-sidebar {
        padding-top: 54px;
    }
    /*Full Sidebar width on mobile*/
    body.sidebar-open aside.main-sidebar {
        width: 100%;
    }
    /*Align center pace mobile*/
    .pace .pace-activity {
        right: 50%;
    }

    /* ------ Custom ------ */
}

/* ------ Tablet pra baixo ------ */
@media (min-width: 992px) {
    /* ------ Custom ------ */
    .no-padding {
        padding: 0;
    }
    .no-padding-left {
        padding-left: 0;
    }
    .no-padding-right {
        padding-right: 0;
    }
    
}

/*AdminLTE Fixes*/
.nav-tabs-custom{
    border: 1px solid #d4d4d4;
}
.nav-tabs-custom > .nav-tabs {
    border-bottom-color: #d4d4d4;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
    border-left-color: #d4d4d4;
    border-right-color: #d4d4d4;
}
h4.title_subview {
    margin: 2px 0;
    text-align: center;
}

/*Bootstrap Fixes*/
@media (min-width: 768px) {
    .modal-fullscreen { 
        width: auto;
        margin: 10px;
    }
}
div.btn-group-events .dropdown-menu > li > a {
    padding: 3px 10px;
}
.checkbox {
    padding: 0 3px;
}

/*Datatables*/
.table-bordered {
    border: 1px solid #ddd;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}
.dataTables_info {
    /*float: left;*/
}
.dataTables_wrapper {
    overflow-x: auto;
}
table.dataTable.compact thead th, table.dataTable.compact tbody td {
    padding: 4px;
}
.btn-group-filter {
    float: right;
}

/*Select2*/
.form-group.has-error .select2-selection {
    border-color: #dd4b39;
    box-shadow: none;
}
.select2-selection:focus {
    border-color: #3c8dbc;
}

/* Dropzone */
.dropzone {
    border: 1px solid #d2d6de;
    padding: 5px;
}
div.dz-image img {
    width: 100%;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    left: 59%;
}
.dropzone .dz-preview .dz-image {    
    border-radius: 0px;
}
.dropzone .dz-preview.dz-file-preview .dz-image {    
    border-radius: 5px;
}
.dz-remove-btn{
    /* position: absolute; 
    top: -15px;
    right: -11px; 
    z-index: 1050; */
}

/* ------ Custom ------ */
table.dataTable thead tr th, table.dataTable tfoot tr td {
    background-color: #f4f4f4;
    font-weight: bold;
}