<style>
    #tableviewatividade_-_nota_insert {
        display: none;
    }
</style>

<div id="atvauth" class="hidden">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Usuário*</label>
                            <input name="authuser" type="text" class="form-control" data-type="text">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Senha*</label>
                            <input name="authpass" type="password" class="form-control" data-type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="atvcontent" class="">

    <div class="hidden">
        {{{hidden}}}
    </div>

    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li id="tabgeral" class="active">
                    <a href="#tab_1" data-toggle="tab"> Geral</a>
                </li>
                <li id="tabdetalhes">
                    <a href="#tab_2" data-toggle="tab"> Detalhes</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            {{{geral_cabecalho}}}
                        </div>
                        <div class="col-md-12 hidden" id="divcd">
                            <div class="row" id="rowcd">
                            </div>
                        </div>
                        <div class="col-md-12 no-padding">
                            {{{geral}}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        {{{participante}}}
                    </div>
                </div>
                <div class="tab-pane" id="tab_2">
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            {{{detalhes}}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 no-padding" id="divnota">
                            <div class="col-md-2">
                                <button id="playtempo" type="button" class="btn btn-default btn-block">
                                    <i class="fa fa-play"></i>
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button id="pausetempo" type="button" class="btn btn-default btn-block">
                                    <i class="fa fa-pause"></i>
                                </button>
                            </div>
                            <div class="col-md-12 no-padding">
                                {{{nota}}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        if ($('input[name="v_autenticarleitura"]').is(':checked') && !$('select[name="iduser_leitura"]').val()) {
            $('#atvauth').removeClass('hidden');
        } else {
            $('#atvcontent').removeClass('hidden');
            if (!$('select[name="iduser_leitura"]').val()) {
                application.jsfunction('atividade.atividade.js_read', { id: application.functions.getId() }, function (response) { });
            }
        }

        CKEDITOR_BASEPATH = '/public/assets/ckeditor/';
        application.functions.getJs([
            '/public/assets/ckeditor/ckeditor.js'
        ]);

        $(document).on('app-loadjs', function () {
            var config = {
                toolbarGroups: [
                    { name: 'document', groups: ['mode', 'document', 'doctools'] },
                    { name: 'clipboard', groups: ['clipboard', 'undo'] },
                    { name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing'] },
                    { name: 'forms', groups: ['forms'] },
                    { name: 'basicstyles', groups: ['basicstyles', 'cleanup'] },
                    { name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph'] },
                    { name: 'links', groups: ['links'] },
                    { name: 'insert', groups: ['insert'] },
                    { name: 'styles', groups: ['styles'] },
                    { name: 'colors', groups: ['colors'] },
                    { name: 'tools', groups: ['tools'] },
                    { name: 'about', groups: ['about'] },
                    { name: 'others', groups: ['others'] }
                ]
                , removeButtons: 'Preview,Print,NewPage,Save,Source,Templates,Cut,Copy,Paste,PasteText,PasteFromWord,Find,Undo,Redo,Replace,SelectAll,Scayt,Form,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,Strike,Subscript,Superscript,CopyFormatting,RemoveFormat,NumberedList,Outdent,Indent,Blockquote,CreateDiv,BidiLtr,BidiRtl,Language,Anchor,Flash,Smiley,SpecialChar,PageBreak,Iframe,Styles,Format,Font,ShowBlocks,About'
            };
            CKEDITOR.replace('descricao', config);
        });

        function createModal() {
            var html = '<div class="modal fade" id="creatingModal">';
            html += '<div class="modal-dialog">';
            html += '<div class="modal-content">';
            html += '<div class="modal-header">';
            html += '<button type="button" class="close" data-dismiss="modal" aria-label="Close">';
            html += '<span aria-hidden="true">×</span></button>';
            html += '<h4 class="modal-title">  </h4>';
            html += '</div>';
            html += '<div class="modal-body">';
            html += '<div class="row">';
            html += '<div class="col-sm-12"> <button class="btn btn-block btn-primary"> TI </button> </div>';
            html += '</div>';
            html += '</div>';
            html += '</div>';
            html += '</div>';
            return html;
        }

        var $idtipo = $('select[name="idtipo"]');
        var $iduserresponsavel = $('select[name="iduser_responsavel"]');
        
        if (application.functions.getId() == 0) {
            // $('#divcabecalho').addClass('hidden');
            $('#tabdetalhes').addClass('hidden');
            $('#tabnotas').addClass('hidden');

            $('select[name="iduser_responsavel"]').prop('disabled', true);

            // $('body').append(createModal());
            // $('#creatingModal').modal({ backdrop: 'static', keyboard: false }, 'show');
        } else {
            $('select[name="idtipo"]').prop('disabled', true);
        }

        function adjustAC() {
            if ($idtipo.val()) {
                $iduserresponsavel.prop('disabled', false);
                $iduserresponsavel.attr('data-where', 'id in (select su.idusuario from atv_tipo t left join cad_setor s on (t.idsetor = s.id) left join cad_setorusuario su on (su.idsetor = s.id) where t.id = ' + $idtipo.val() + ')');
            } else {
                $iduserresponsavel.prop('disabled', true);
            }
        }
        $('select[name="idtipo"]').change(function () {
            $iduserresponsavel.val(null).trigger('change');
            adjustAC();
            trazCD();
        });
        adjustAC();
        trazCD();

        function trazCD() {
            application.jsfunction('atividade.atividade.js_obterCamposDinamicos', {
                idtipo: $('select[name="idtipo"]').val()
                , idatividade: application.functions.getId()
            }, function (response) {
                $('#rowcd').children().remove();
                $('#rowcd').append(response.data);
                application.components.renderInside($('#rowcd'));
                $('#divcd').removeClass('hidden');
            });
        }
        $('#playtempo').click(function () {
            application.jsfunction('atividade.atividade.js_play', { id: application.functions.getId() }, function (response) {
                application.handlers.responseSuccess(response);
                if (response.success) {
                    var newOption = new Option(response.status.descricao, response.status.id, false, true);
                    $('select[name="idstatus"]').append(newOption).trigger('change');
                }
            });
        });
        $('#pausetempo').click(function () {
            application.jsfunction('atividade.atividade.js_pause', { id: application.functions.getId() }, function (response) {
                application.handlers.responseSuccess(response);
                if (response.success) {
                    if (response.status) {
                        var newOption = new Option(response.status.descricao, response.status.id, false, true);
                        $('select[name="idstatus"]').append(newOption).trigger('change');
                    }
                }
            });
        });
    });
</script>