<div class="hidden">
    {{{hidden}}}
</div>

<div class="col-md-8 no-padding">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <div id="z1" class="row">
                    {{{z1}}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="divcd">
        <div class="box box-primary">
            <div class="box-body">
                <div id="rowcd" class="row">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-md-4 no-padding">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <div id="z2" class="row">
                    {{{z2}}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover no-footer" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Parâmetro</th>
                                    <th style="text-align: center;">Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>${day}</td>
                                    <td>Dia Atual</td>
                                </tr>
                                <tr>
                                    <td>${month}</td>
                                    <td>Mês Atual</td>
                                </tr>
                                <tr>
                                    <td>${year}</td>
                                    <td>Ano Atual</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        CKEDITOR_BASEPATH = '/public/assets/ckeditor/';
        application.functions.getJs([
            '/public/assets/ckeditor/ckeditor.js'
        ]);

        $(document).on('app-loadjs', function () {
            var config = {
                toolbarGroups: [
                    { name: 'document', groups: ['mode', 'document', 'doctools'] },
                    { name: 'clipboard', groups: ['clipboard', 'undo'] },
                    { name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing'] },
                    { name: 'forms', groups: ['forms'] },
                    { name: 'basicstyles', groups: ['basicstyles', 'cleanup'] },
                    { name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph'] },
                    { name: 'links', groups: ['links'] },
                    { name: 'insert', groups: ['insert'] },
                    { name: 'styles', groups: ['styles'] },
                    { name: 'colors', groups: ['colors'] },
                    { name: 'tools', groups: ['tools'] },
                    { name: 'about', groups: ['about'] },
                    { name: 'others', groups: ['others'] }
                ]
                , removeButtons: 'Preview,Print,NewPage,Save,Source,Templates,Cut,Copy,Paste,PasteText,PasteFromWord,Find,Undo,Redo,Replace,SelectAll,Scayt,Form,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,Strike,Subscript,Superscript,CopyFormatting,RemoveFormat,NumberedList,Outdent,Indent,Blockquote,CreateDiv,BidiLtr,BidiRtl,Language,Anchor,Flash,Smiley,SpecialChar,PageBreak,Iframe,Styles,Format,Font,ShowBlocks,About'
            };
            CKEDITOR.replace('descricao', config);
        });

        var $idtipo = $('select[name="idtipo"]');
        var $iduserresponsavel = $('select[name="iduser_responsavel"]');

        if (application.functions.getId() == 0) {
            $('select[name="iduser_responsavel"]').prop('disabled', true);
        } else {
            $('select[name="idtipo"]').prop('disabled', true);
        }

        function adjustAC() {
            if ($idtipo.val()) {
                $iduserresponsavel.prop('disabled', false);
                $iduserresponsavel.attr('data-where', 'id in (select su.idusuario from atv_tipo t left join cad_setor s on (t.idsetor = s.id) left join cad_setorusuario su on (su.idsetor = s.id) where t.id = ' + $idtipo.val() + ')');
            } else {
                $iduserresponsavel.prop('disabled', true);
            }
        }
        $('select[name="idtipo"]').change(function () {
            $iduserresponsavel.val(null).trigger('change');
            adjustAC();
            trazCD();
        });
        adjustAC();
        trazCD();

        function trazCD() {
            application.jsfunction('atividade.atividadeag.js_obterCamposDinamicos', {
                idtipo: $('select[name="idtipo"]').val()
                , idatividadeag: application.functions.getId()
            }, function (response) {
                $('#rowcd').children().remove();
                $('#rowcd').append(response.data);
                application.components.renderInside($('#rowcd'));
                $('#divcd').removeClass('hidden');
            });
        }
    });
</script>