<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab"> Solicitação de Compra</a></li>
        </ul>
        <div class="tab-content">

            <div class="tab-pane active" id="tab_1">
                <div class="row">

                    <div class="col-md-6 no-padding">

                        <%- solicitacao %>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>