<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab"> Depósitos</a></li>
            <li><a href="#tab_2" data-toggle="tab"> Operações</a></li>
        </ul>
        <div class="tab-content">

            <div class="tab-pane active" id="tab_1">
                <div class="row">

                    <%- deposito %>

                </div>
            </div>

            <div class="tab-pane" id="tab_2">
                <div class="row">

                    <div class="col-md-6 no-padding">
                        <%- tipo_operacao %>
                    </div>

                    <div class="col-md-6 no-padding">
                        <%- operacao %>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>